extends ../../_templates/layout
block title
    title #{globals.ipf.title} Yearly Art - 2018 - Cooper Pierce

block contents

    article.u-container

        h1 Inman Park Festival Yearly Art - 2018

        p This year's artist is Cooper Pierce. Click/touch the thumbnail below to see a larger version.
        
        a(href="/assets/img/2018/festival-artwork-large.png")
            img(src="/assets/img/2018/festival-artwork.png")

        h2 Interview with Cooper Pierce
        
        p This year's Inman Park Festival design is the creation of Cooper Pierce. A native of Jacksonville, Florida, Cooper has lived in Inman Park since 1992 with his wife, Robbie Whyte, a graphic designer and creator of original hats, fashion, and costumes. He has been drawing for about 50 years, a skill he honed in architecture school at Auburn and continues to use in his professional practice. The festival design contest is a natural outlet to exercise his skill in drawing and art. The art reflects Cooper's interest in typography and old school sign painting. Cooper explains that he brought two main ideas together for this piece. "The art of the hand drawn image is quickly fading away with digital media to where hand drawing is practically becoming a lost art. The other aspect to this year's design is the architecture of the neighborhood, which was the primary focus of the posters of the early Festivals in the 70's and 80's." As tempting as it may be, don't try to identify the home in this year's artwork. The house you see represents elements of Inman Park architecture, but isn't an homage to one particular home.

        p No Festival artwork would be complete without honoring our neighborhood mascot. "The butterfly is a symbol of rebirth and corresponds with spring," says Cooper. "Artistic liberties have been taken to modify the butterfly from the stylized neighborhood symbol to put more emphasis on the creature as a symbol of spring to correspond with the Festival."

        p Many people talk about this being their favorite festival for various reasons. The effort and community support that goes into putting on this Festival every year is a testament to the neighborhood. It provides great opportunity for young and older neighbors to work together and meet neighbors they didn't know. The Festival magic is the friendships made and the lasting connections that bind our community. Coming to and enjoying all the things the festival provides is one thing, but being a part of it is even better. Cooper says having another design selected to represent this year's 47th annual festival is an honor. Enjoy the festival and take in the architecture in the neighborhood.
