h2#buy-tickets Buy Tickets Now!

p Tickets are now available online via Ticketbud at this location: <a href="#{globals.tour.tickets.url}">#{globals.tour.tickets.url}</a>.

p Once you've purchased tickets through Ticketbud, you have a few options to redeem your printed ticket:

ul
    li show your receipt on your mobile device at one of the ticket pickup locations
    li show your printed receipt at one of the ticket pickup locations

p You can redeem your Ticketbud tickets for the official printed Tour of Homes booklet at any of the <a href="/map">ticket locations marked on the map with the ticket icon</a>.

p.Big If you have neither your printed receipt nor your emailed receipt, you will not be able to redeem your tickets.

//- p On Friday, the only location where tickets can be picked up is the intersection of Elizabeth Street and Euclid Avenue. <a href="https://www.google.com/maps/place/33%C2%B045'30.0%22N+84%C2%B021'23.2%22W/@33.7583282,-84.3652018,15z/data=!3m1!4b1!4m6!3m5!1s0x0:0x0!7e2!8m2!3d33.7583293!4d-84.3564474">See here on Google Maps.</a>
