extends ../../_templates/layout
block title
    title #{globals.ipf.title} Yearly Art - 2019 - Sara Lehtman

block contents

    article.u-container

        h1 Inman Park Festival Yearly Art - 2019

        p This year's artist is Sara Lehtman. Click/touch the thumbnail below to see a larger version.
        
        a(href="/assets/img/2019/festival-artwork-large.jpg").FestivalArt.FestivalArt--2019
            img(src="/assets/img/2019/festival-artwork.jpg")

        h2 About Sara Lehtman

        p A Chicago native, Sara first moved to GA to attend SCAD, where she earned a BFA in Illustration and a minor&rsquo;s degree in Sequential Art. 5 years ago, Sara moved to Atlanta and started her business. A few years later she and her fianc&eacute;, Josh happily began to call Inman Park home in an apartment right off the BeltLine. Her 2019 Festival Artwork design combines her love for Inman Park, and the annual festival with the neighborhood mascot, the butterfly.

        p When asked what she likes most about the &ldquo;hood&rdquo; with a warm reminiscent smile she answers, &ldquo;The culture: the people, community, sense of togetherness, art... All against a backdrop of deep history and incredible architecture.&rdquo; Artistically, inspired by nature, mysticism, and mythology her design for the 48 th Annual Festival was created to represent this sense of togetherness and complexity using, ink and acrylic colors, blending textures with the use of cross hatch and stippling, in the form of a creature, the butterfly.

        p Sara&rsquo;s tagline &ldquo;Designed for the untamed, inspired by the wild,&rdquo; truly captures her vision of creating art for people who are layered and unapologetic about being themselves, as you are sure to find in Inman Park.

        p When not at work in her studio creating artwork, or working on her new greeting card and jewelry line you&rsquo;ll most likely find Sara gathering her next inspiration from a hike or on a road trip. To see more of her creative designs, check out her website @ <a href="https://www.creature-shop.com" target="_blank">https://www.creature-shop.com</a>.

