.GardenToursHeaderContainer
    header.GardenToursHeader
        h1
            a(href="/")
                img(src="/assets/img/2021/garden-tour-logo-inverse.png" alt="Inman Park Tour of Gardens 2021" width="210")
            span April 23-25, 2021
        .GardenToursNav
            a(href="/gardens/on-tour") Gardens 
            a(href="https://inmanparkfestival.company.site/") Shop
            a(href="/gardens/sponsors") Sponsors
            a(href="/gardens/map") Map
