.GardenToursHeaderContainer
    header.GardenToursHeader
        h1
            img(src="/assets/img/2021/garden-tour-logo-inverse.png" alt="Inman Park Tour of Gardens 2021" width="210")
            span April 23-25, 2021
        .GardenToursNav
            a(href="/gardens/on-tour") Gardens 
            a(href="/gardens/sponsor") Sponsors
