include ../_templates/mixins

doctype html
html(lang="en")

    head

        title Inman Park Tour of Gardens April 23-25, 2021
        
        meta(content="IE=edge,chrome=1" http-equiv="X-UA-Compatible")
        meta(content="width=device-width" name="viewport")

        link(href='https://fonts.googleapis.com/css?family=Droid+Sans+Mono' rel='stylesheet' type='text/css')
        link(href='/assets/css/main.css', rel='stylesheet' type='text/css')
        //- link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.1/tiny-slider.css")

        meta(property="og:title" content="Inman Park Tour of Gardens April 23-25, 2021")
        meta(property="og:description" content="Inman Park Tour of Gardens April 23-25, 2021")
        meta(property="og:image" content="http://inmanparkfestival.org/assets/img/ipf-butterfly-facebook.png")
        meta(property="og:url" content="http://inmanparkfestival.org")
        meta(property="og:type" content="website")
        meta(name="twitter:card" content="summary_large_image")

    body

        .GardenToursContainer
            include ./_gardensheader

            main.GardenTours
                

                .GardenHero
                    .carousel
                        div
                            img(src='/assets/img/2021/gardens/begonias.jpg' alt='Begonias in Bloom')
                        div
                            img(src='/assets/img/2021/gardens/canflower.jpg' alt='Metal Flower Made From a Can')
                        div
                            img(src='/assets/img/2021/gardens/cope-1.jpg' alt='Cope Gardens')
                        div
                            img(src='/assets/img/2021/gardens/woodgatedoor.jpg' alt='Covered door')
                        div
                            img(src='/assets/img/2021/gardens/fleabaneflower.jpg' alt='Fleabane Flower')
            
                .GardenAuction 
                    a(href="") Bid on unique Inman Park goods in our auction now!

                .GardenWelcome
                    h2 Join us for the Inman Park Tour of Gardens
                        

                .GardenSection.GardenSponsors-primary
                    h2 Presented By:
                    a(href="https://www.northside.com/" target="_blank")
                        img(src="/assets/img/2021/northside-hospital.png" alt="Inman Park Festival Presenting Sponsor: Northside Hospital")
                
                .GardenSection.bgGarden-secondary.GardenMoreDetails

                    p We can&rsquo;t hold the Inman Park Festival so instead we&rsquo;re having a Garden Party! The Inman Park Tour of Gardens will take guests on a fanciful tour of some of the most eclectic and innovative yards in Historic Inman Park. On tour guests will see quirky landscapes and untraditional additions to classic homes with finely manicured lawns with sweeping views of our city.  

                    p Each garden will hold a different surprise. Some will have dance troupes, live music, art and plenty of Inman Park Charm. Come for the gardens, stay for the culture. Enjoy our socially distanced outdoor event. Masks and good humor required.  

                    p
                        a(href="/gardens/on-tour").ButtonWithOutline &#8227; Read about the gardens here.

                    p Inman Park is Atlanta&rsquo;s first suburb and one of the city&rsquo;s most beloved neighborhoods.

                    p First developed in the late 1800&rsquo;s, Inman Park is home to many historic Victorian homes and parks. But it is the spirit of community, the spirit of our neighbors, a spirit inherent in the great diversity of Inman Parkers that makes it a special and beloved community. In our community Y&rsquo;all means All. 

                    p Proceeds from Inman Park Tour of Gardens will be used to better our neighborhood and community. We donate to local schools, parks, pay for sidewalks and support the Little Five Points Alliance and the Public Library on Ponce.

                    p
                        | Please note that 
                        strong no dogs are allowed in the gardens.

                - var gardenTicketsLive = true
                if !gardenTicketsLive
                    .GardenSection.GardenDates
                        h2 Tour of Gardens Dates and Times:

                        ul
                            li Friday, April 23 / 4-8PM
                            li Saturday, April 24 / noon-4PM
                            li Sunday, April 24 / noon-4PM

                if gardenTicketsLive
                    .GardenSection.GardenTickets#tickets
                        .GardenTickets-image
                        .GardenTickets-copy
                            h2 Buy Garden Tickets Online
                            p Tickets are available for purchase by the day: 

                            ul
                                li 
                                    a(href="https://ipf.ticketbud.com/tour-of-gardens-friday-april23-2021") Friday, April 23 (4-8pm)
                                li Saturday, April 24 (noon-4pm) (sold out)
                                li 
                                    a(href="https://ipf.ticketbud.com/tour-of-gardens-sunday-april25-2021") Sunday, April 25 (noon-4pm)

                .GardenSection.Garden2up
                    .GardenMerchandise
                        h3 Tour Merchandise for Sale!
                        .GardenMerchandise-link
                            a(href="https://inmanparkfestival.company.site/").Button Visit the shop
                    
                    .GardenVolunteer
                        .GardenVolunteer-copy
                            h3 Help out now
                            p Interested in volunteering?
                        .GardenVolunteer-link
                            a(href="https://signup.com/go/xKwnwHS").Button Sign up now!
                
                

                .GardenSection.GardenSponsors-secondary
                    h2.SponsorsHeader.SponsorsHeader--gold Gardener Sponsors
                    ul.Sponsors.Sponsors--gold
                        +sponsorGridImage("/assets/img/2021/sponsors/team360.png", "Team 360", "https://www.compass.com/agents/andre-de-winter/")
                        +sponsorGridImage("/assets/img/2021/sponsors/trolley-barn.png", "The Trolley Barn", "https://thetrolleybarn.com")
                        +sponsorGridImage("/assets/img/2021/sponsors/outback-bikes.png", "Outback Bikes", "https://www.outback-bikes.com/")

                    div.Gardens-moreSponsors
                        a(href="/gardens/sponsors/").Button.alt-primary View more sponsors here


                .GardenDance-header 
                    img(src="/assets/img/2021/dance-blue-line-1024.jpg" alt="Dancers at the Trolley Barn")

                .GardenSection.bgGarden-secondary.GardenDance
                    h2 Inman Park Dance Festival

                    table
                        tr
                            td 
                                | Saturday, April 24, 1pm &amp; 3pm
                                br
                                | Sunday, April 25, 1pm &amp; 3pm
                            td
                                | 850 Euclid Avenue NE &amp; 40 Delta Place NE
                                br 
                                | All dance events are free!

                    p The Inman Park Dance Festival has adapted to this year&rsquo;s Tour of Garden&rsquo;s all outdoor format! The neighborhood welcomes back two Dance Festival regulars, Full Radius Dance and ImmerseATL. These two great companies will create site-specific works for the weekend. Full Radius Dance will perform on the steps of Lizzie Chapel at 850 Euclid Avenue and ImmerseATL will create a work for Delta Park at Edgewood and Delta Place. The performances will take place on Saturday, April 24 and Sunday, April 25 at 1:00 pm and 3:00 pm. The show will run about 20 minutes and be the same for all four performances. It is free and open to the public.

                    p Dance has been a part of the Inman Park Festival and Tour of Homes since 2001. Since this time, it has presented professional and pre-professional dance companies from Metro Atlanta and the state of Georgia. It is the only free admission dance festival that regularly presents both classical ballet and modern dance on the same program. Additionally, all companies are compensated for their participation in the festival. 


                

        footer.Footer
            .u-container
            
                //- .Footer-sponsors
            
                nav.Footer-nav
                    //- a(href="/contact-us" class="PipeNav") Contact Us
                    a(href="/terms-of-use" class="PipeNav") Terms of Use
                    a(href="/privacy-policy" class="PipeNav") Privacy Policy
                    a(href="/trademark" class="PipeNav") Trademark Use
                
                p.fineprint!= globals.copyright

        script(src="/assets/js/gardens.js")
        block scripts

        if (isProduction)
            script.
                var _gaq = _gaq || [];
                _gaq.push(['_setAccount', 'UA-21675291-1']);
                _gaq.push(['_trackPageview']);

                (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
                })();
