include ../_templates/mixins

doctype html
html(lang="en")

    head

        title Inman Park Tour of Gardens April 23-25, 2021
        
        meta(content="IE=edge,chrome=1" http-equiv="X-UA-Compatible")
        meta(content="width=device-width" name="viewport")

        link(href='https://fonts.googleapis.com/css?family=Droid+Sans+Mono' rel='stylesheet' type='text/css')
        link(href='/assets/css/main.css', rel='stylesheet' type='text/css')
        //- link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.1/tiny-slider.css")

        meta(property="og:title" content="Inman Park Tour of Gardens April 23-25, 2021")
        meta(property="og:description" content="Inman Park Tour of Gardens April 23-25, 2021")
        meta(property="og:image" content="http://inmanparkfestival.org/assets/img/ipf-butterfly-facebook.png")
        meta(property="og:url" content="http://inmanparkfestival.org")
        meta(property="og:type" content="website")
        meta(name="twitter:card" content="summary_large_image")

    body

        .GardenToursContainer
            .GardenToursHeaderContainer
                header.GardenToursHeader
                    h1
                        img(src="/assets/img/2021/garden-tour-logo-inverse.png" alt="Inman Park Tour of Gardens 2021" width="210")
                        span April 23-25, 2021

            main.GardenTours
                .GardenHero
                    .carousel
                        div
                            img(src='/assets/img/2021/gardens/schroeder-hydrangea.jpg' alt='Oak-leaf Hydrangea in Schroeder Gardens')
                        div
                            img(src='/assets/img/2021/gardens/cope-1.jpg' alt='Cope Gardens')
                        div
                            img(src='/assets/img/2021/gardens/schroeder-door.jpg' alt='Azaleas near the Door in Schroeder Gardens')
                        div
                            img(src='/assets/img/2021/gardens/cope-2.jpg' alt='Cope Gardens')
            
                div.GardenWelcome
                    h2 Join us for the Inman Park Tour of Gardens
                        

                .GardenSection.GardenSponsors-primary
                    h2 Presented By:
                    a(href="https://www.northside.com/" target="_blank")
                        img(src="/assets/img/2021/northside-hospital.png" alt="Inman Park Festival Presenting Sponsor: Northside Hospital")
                
                .GardenSection.bgGarden-secondary.GardenMoreDetails

                    p We can&rsquo;t hold the Inman Park Festival so instead we&rsquo;re having a Garden Party! The Inman Park Tour of Gardens will take guests on a fanciful tour of some of the most eclectic and innovative yards in Historic Inman Park. On tour guests will see quirky landscapes and untraditional additions to classic homes with finely manicured lawns with sweeping views of our city.  

                    p Each garden will hold a different surprise. Some will have dance troupes, live music, art and plenty of Inman Park Charm. Come for the gardens, stay for the culture. Enjoy our socially distanced outdoor event. Masks and good humor required.  

                    p Inman Park is Atlanta&rsquo;s first suburb and one of the city&rsquo;s most beloved neighborhoods.

                    p First developed in the late 1800&rsquo;s, Inman Park is home to many historic Victorian homes and parks. But it is the spirit of community, the spirit of our neighbors, a spirit inherent in the great diversity of Inman Parkers that makes it a special and beloved community. In our community Y&rsquo;all means All. 

                    p Proceeds from Inman Park Tour of Gardens will be used to better our neighborhood and community. We donate to local schools, parks, pay for sidewalks and support the Little Five Points Alliance and the Public Library on Ponce.

                - var gardenTicketsLive = true
                if !gardenTicketsLive
                    .GardenSection.GardenDates
                        h2 Tour of Gardens Dates and Times:

                        ul
                            li Friday, April 23 / 4-8PM
                            li Saturday, April 24 / noon-4PM
                            li Sunday, April 24 / noon-4PM

                if gardenTicketsLive
                    .GardenSection.GardenTickets
                        .GardenTickets-image
                        .GardenTickets-copy
                            h2 Buy Garden Tickets Online
                            p Tickets are available for purchase by the day: 

                            ul
                                li 
                                    a(href="https://ipf.ticketbud.com/tour-of-gardens-friday-april23-2021") Friday, April 23 (4-8pm)
                                li 
                                    a(href="https://ipf.ticketbud.com/tour-of-gardens-saturday-april24-2021") Saturday, April 24 (noon-4pm)
                                li 
                                    a(href="https://ipf.ticketbud.com/tour-of-gardens-sunday-april25-2021") Sunday, April 25 (noon-4pm)

                .GardenSection.GardenVolunteer
                    div.GardenVolunteer-copy
                        h3 Help out now
                        p Interested in volunteering?
                    div.GardenVolunteer-link
                        a(href="https://signup.com/go/xKwnwHS").Button Sign up now!

                //- .GardenSectionSplit
                //-     .GardenSectionSplit-half.alt-secondary.GardenMap
                //-         div Map
                //-     .GardenSectionSplit-half.alt-tertiary.GardenVolunteer
                //-         div 
                //-             a(href="https://signup.com/go/xKwnwHS" target="_blank") Sign up to volunteer now!

                //- ul.PromotionGrid.u-container.u-container--noPad
                //-     li.PromotionItem.alt-primary
                //-         section
                //-             h3 Help out now
                //-             p Interested in volunteering?
                //-             a(href="https://signup.com/go/xKwnwHS") Sign up now!

                .GardenSection.GardenSponsors-secondary
                    h2.SponsorsHeader.SponsorsHeader--gold Gardener Sponsors
                    ul.Sponsors.Sponsors--gold
                        +sponsorGridImage("/assets/img/2021/sponsors/team360.png", "Team 360", "https://www.compass.com/agents/andre-de-winter/")
                        +sponsorGridImage("/assets/img/2021/sponsors/trolley-barn.png", "The Trolley Barn", "https://thetrolleybarn.com")
                        +sponsorGridImage("/assets/img/2021/sponsors/outback-bikes.png", "Outback Bikes", "https://www.outback-bikes.com/")

                    div.Gardens-moreSponsors
                        a(href="/gardens/sponsors/").Button View more sponsors here

        footer.Footer
            .u-container
            
                //- .Footer-sponsors
            
                nav.Footer-nav
                    //- a(href="/contact-us" class="PipeNav") Contact Us
                    a(href="/terms-of-use" class="PipeNav") Terms of Use
                    a(href="/privacy-policy" class="PipeNav") Privacy Policy
                    a(href="/trademark" class="PipeNav") Trademark Use
                
                p.fineprint!= globals.copyright

        script(src="/assets/js/gardens.js")
        block scripts

        if (isProduction)
            script.
                var _gaq = _gaq || [];
                _gaq.push(['_setAccount', 'UA-21675291-1']);
                _gaq.push(['_trackPageview']);

                (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
                })();
