doctype html
html(lang="en")

    head 
        meta(http-equiv="Refresh" content="30; url='http://www.inmanparkfestival.org/gardens'")

        style(type="text/css").
            p { font-size: 22px; font-family: sans-serif; max-width: 36em; margin: 2em auto; line-height: 130% }
            

    body
        .u-container
            p Inman Park Festival is not happening this year. However, there is a covid-appropriate, audience-limited Tour of Gardens this year and you will be redirected to that page momentarily.

