doctype html
html(lang="en")

    head
        meta(name="viewport" content="width=device-width, initial-scale=1")
        style(type="text/css").
            .u-container { max-width: 44em; margin: 2em auto; font-family: sans-serif;}
            h1 { font-size: 32px; margin: 1em 0;}
            p { font-size: 22px; line-height: 130% }
            @media (max-width: 600px) {
                .u-container { margin: 1.25em }
                h1 { font-size: 28px; }
                p { font-size: 18px; }
            

    body
        .u-container
            h1 Inman Park Festival 2022

            p 
                | Inman Park Festival and Tour of Homes 2022 (April 22-24) is happening and we are so excited!  If you'd like to be a vendor (Arts and Crafts, Food, or Non-Profit), 
                | 
                a(href="https://www.eventeny.com/events/inmanparkfestivaltourofhomes2022-1759/?preview=1759") please follow this link to the applications. 

            p Check back in early February to sign up for volunteer shifts!


            //- p Festivale Dates: 21-24 April, 2022.

