extends ../../_templates/layout

block title
    title #{globals.ipf.title} | Arts &amp; Crafts Market

block contents

    +secondaryNav(globals.markets.nav, "arts & crafts")

    article.u-container

        h1 Arts &amp; Crafts Market
        
        //- p Vendors listed below are from the previous Festival.
        
        //- p Festival #{globals.ipf.date.year} Street Market vendors will be listed below as soon as they are chosen.

        include _vendor-list
