extends ../../_templates/layout

block title
    title #{globals.ipf.title} | Events | Dance

block contents

    +secondaryNav(globals.events.nav, "dance")
    
    include ../../_includes/_banner

    .u-container
    
        h1 Inman Park Dance Festival
    
    .Hero
        .carousel
            div
                +slideImageXL('/assets/img/slideshows/2017/dance-blue-line', 'Dancers at Festival')
            div
                +slideImageXL('/assets/img/slideshows/2017/dance-chair', 'Dancers at Festival')
            div
                +slideImageXL('/assets/img/slideshows/2017/dance-y', 'Dancers at Festival')
            div
                +slideImageXL('/assets/img/slideshows/2017/dance-ballerinas', 'Ballerinas at Festival')


    article.u-container

        //- p Check back later to learn about Festival's Dance activities.
        
        //- TODO implement dance date variables
        p
            | Saturday, April 27 &amp; Sunday, April 28
            br
            | 4:00 pm
            br
            | The Trolley Barn, 963 Edgewood Avenue, Atlanta GA 30307
            br
            | Free
        
        //- p This year marks the 18th year of the Inman Park Dance Festival. It legal, can events register to vote or for the draft?! Well, likely not but they can offer you a delightful experience for your Festival weekend.

        p This year&rsquo;s event will present four Atlanta-area concert dance companies; Ballethnic, Full Radius Dance, The Georgia Ballet and ImerseATL. Mirroring our great neighborhood&rsquo;s people and architecture, each individual company has a unique dance vocabulary to contribute to the event and the presented works will span the ages from an excerpt from La Sylphide dating from 1836 to new works that will make their premier at the performance.

        p <a href="https://ballethnic.net/" target="_blank">Ballethnic</a> will bring its signature fusion of classical ballet and West African dance to the floor. This company is so exciting to watch, they know how to entertain a crowd. They also demonstrate the strength that is required to bring together these to seemingly unrelated styles of movement.

        p <a href="fullradiusdance.org" target="_blank">Full Radius Dance</a> is the leading producer of physically integrated dance in the world. This fact sound braggadocios but as a longtime support of this company, I can vouch for its veracity. This modern dance company demonstrates that both the physically disabled body and the non-physically disabled body have equal artistic potential. 

        p Founded in 1960, <a href="https://www.georgiaballet.org" target="_blank">The Georgia Ballet</a> is the oldest company in the festival. It just so happens that they will be performing the oldest choreography in the program. They will give you the opportunity to see two works that will be like getting to look a master painting. This will be a lovely moment because unlike a painting, the dance only really occurs in the moment that it is performed.

        p Created to nurture young dance artists, <a href="https://www.immerseatl.com/" target="_blank">ImmerseATL</a> rounds out the afternoon&rsquo;s performance. This company has a philosophy of nurturing both the technical and artistic prowess of its artists. The company&rsquo;s modern dance perspective is raw and direct looking to the questions of &ldquo;What inspires you?&rdquo;, &ldquo;What gives you purpose?&rdquo;, and &ldquo;What makes you come alive?&rdquo;.
