extends ../../_templates/layout

block title
    title #{globals.ipf.title} | Events | Dance

block contents

    +secondaryNav(globals.events.nav, "dance")
    
    include ../../_includes/_banner

    .u-container
    
        h1 Inman Park Dance Festival
    
    .Hero
        .carousel
            div
                +slideImageXL('/assets/img/slideshows/2017/dance-blue-line', 'Dancers at Festival')
            div
                +slideImageXL('/assets/img/slideshows/2017/dance-chair', 'Dancers at Festival')
            div
                +slideImageXL('/assets/img/slideshows/2017/dance-y', 'Dancers at Festival')
            div
                +slideImageXL('/assets/img/slideshows/2017/dance-ballerinas', 'Ballerinas at Festival')


    article.u-container

        p
            strong Dance Festival details: 
            br
            | Saturday, April 23 & Sunday, April 24
            br
            a(href="https://goo.gl/maps/aKriuTBLjpk5z9F18") The Trolley Barn, 963 Edgewood Avenue NE, 30307
            br
            | FREE and Open to the Public


        p 
            | You're invited to celebrate the breadth of Atlanta's dance community during two free admission performances of the Inman Park Dance Festival (IPDF). Celebrating 20 years in 2022, the dance festival is one of the many ways that the Inman Park Festival and Tour of Homes supports the performing arts. The two shows present both classical ballet and modern dance in a family friendly format at Inman Park's historic Trolley Barn. For this 20th anniversary festival, IPDF will present a program which spans more than 350 years of concert dance presenting the following Atlanta area companies:
            li 
                a(href="https://katpnagar.wixsite.com/mysite") Atlanta Historic Dance
            li
                a(href="https://ballethnic.org/") Ballethnic
            li
                a(href="https://fullradiusdance.org/") Full Radius Dance
            li  
                a(href="https://www.georgiaballet.org/") The Georgia Ballet
            li
                a(href="https://www.immerseatl.com/") ImmerseATL
            li
                a(href="http://movementartsatlanta.wordpress.com") Movement Arts Atlanta
                
        p The first time period represented in the dance festival is mid-1600s. Atlanta Historic Dance will perform work from this period when social dance began to transition into concert dance. In fact, classical ballet marks its birth in 1661 with the opening of the first school for training dancers by France's King Louis XIV, an accomplished dancer himself.
        p The Georgia Ballet will represent the Classical era of ballet with and excerpt from Paquita.  Originally dating from 1846 and a staple of ballet companies around the world, the version presented will honor the restaging of Marius Petipa in 1882. TGB's artistic and technical prowess will make these 140-year-old dances a joy for the audience.
        p Next the dance festival will pay homage to the roots of Modern Dance with experts from Jos&eacute; Lim&oacute;n's Dances for Isadora. Choreographed at the end of Mr. Lim&oacute;n's life in 1971, this work pay homage to Isadora Duncan (1877-1927) who is considered the Mother of Modern Dance. When curating this year's anniversary dance festival, Carolyn Stine McLaughlin, IPDF Chair, was unable to find a company performing early modern work. In true Inman Park fashion, she organized reconstruction of the work on Atlanta dance artists through her company Movement Arts Atlanta.
        p Coming into the 21st century, ImmerceATL will showcase young contemporary artists. Founded in 2017 by Atlanta native, Sarah J. Hillmer, ImmerceATL is a training and mentorship program for immerging artists bridging the pre-professional life with the professional life of an artist.
        p Full Radius Dance (FRD) is Atlanta's globally recognized leader in physical integrate dance. FRD is the only company which has appeared in every performance of the IPDF. Both a leader in the community and a supportive friend of the dance festival, this modern company's work is both strong in its physicality and nuanced in its artistic expression. 
        p Ballethnic's outstanding blend of ballet and West African dance is also widely recognized. Another long-time performer (15 out of 20 festivals) and friend of the dance festival, Ballethnic's unique movement vocabulary and frequent live music accompaniment is always a crowd pleaser. For 2022, both Ballethnic's professional and pre-professional ensembles will perform.
        p It is noteworthy that the IPDF is the only free admission dance festival that presents both ballet and modern in its programs. Additionally, all performing companies receive and honorarium for their participation. In its 20-year history, the dance festival will have presented 39 free performances to tens-of-thousands of audience members, and engaged hundreds of Georgia artists.
        p 
            | Inman Park neighbor Carolyn Stine McLaughlin is the Chair of the Inman Park Dance Festival. She is a 25-plus-year resident of the neighborhood. The Inman Park Dance Festival was founded in 2001 and is a natural extension of her commitment to the Atlanta dance community and her teaching work with Movement Arts Atlanta. If you know of a company that should be considered for next year's performances, 
            a(href="mailto:movementartsatl@gmail.com") please contact Carolyn via email.

        
        //- p Thank you for taking the time to visit this page about the Inman Park Dance Festival. One of the unique aspects of this dance festival is that all the participating companies receive an honorarium for their performances. As a part of our UNFestival and Tour at Home, the Festival committee and the chair of the dance festival ask that you consider donating to one or all the planned performing companies for 2020. These companies are important to the arts community and economy of the City. Following are links to the donation pages of their websites:

        //- ul
        //-     li 
        //-         a(href="https://ballethnic.org/donations/" target="_blank") Ballethnic 
        //-     li 
        //-         a(href="http://www.flyonawall.buzz/new-page-4" target="_blank") Fly on a Wall
        //-     li 
        //-         a(href="https://fullradiusdance.org/" target="_blank") Full Radius Dance
        //-     li 
        //-         a(href="https://www.georgiaballet.org/support" target="_blank") The Georgia Ballet
        //-     li 
        //-         a(href="https://kitmodus.com/donate" target="_blank") Kit Modus
        //-     li 
        //-         a(href="https://www.immerseatl.com/support" target="_blank") ImmerseATL

        //- p These six companies are a wonderful overview of what the Atlanta dance community has to offer the metro area and the State.

        //- p Ballethnic's vitality is infections! Blending West African dance forms with classical ballet, we frequently are treated to live drummers during their performance at the dance festal. This company is celebrating its 30th anniversary this season.

        //- p 2020 would have been Fly on a Wall's first appearance at the dance festival. This organization is a platform for presenting work. Its intention is to bring diverse artist together to create art at the "junction of wit, risk, and meaningful experiences." Fly on a Wall's body of work includes multimedia performances, installations and dance for film.

        //- p Being the only company that has performed in every dance festival, Full Radius Dance (FRD) is a high quality physically integrated (dancers with and without disabilities) modern dance company. Internationally recognized, FRD has created its own technical vocabulary that recognizes the capacity of all bodies to make dance. This artistically driven perspective is beneficial to both artist and audience. FRD is headed into it 30th season in the fall of 2020.

        //- p The Georgia Ballet (GAB) would have been the classical ballet representative on the program. The Inman Park Dance Festival is the only dance festival in the State the presents classical and contemporary dance in the same program. Last year, they performed a dance that was well over 100 years old and this year they planned to perform a selection from a ballet that was first performed in 1870. Like getting to see a beautiful Renaissance painting, the opportunity to see these preserved works is a treat. GAB is marking its 60th season this year!

        //- p Kit Modus is a company that invites local and national choreographers to present work on Atlanta-based professional dancers. In addition to presenting contemporary dance performance, the company provides training opportunities for dancers. 2020 would have been Kit Modus' first appearance at the Inman Park Dance Festival.

        //- p ImmerseATL is a unique organization that provides a transition from the preprofessional level of dance to professional. Immerse artists are selected annually and given training and performing opportunities specifically designed to support their development as professional artists. The intent of this contemporary dance organization is to "pour into the arts world people that are vibrant and wholly engaged."
