.GardenMusicLocation
    h2
        | 213 Elizabeth St
        span (Porch)
    .GardenMusicDay
        h3 Friday, April 23
        .GardenMusicSlot
            span 4PM-6PM
            .GardenMusicBand 
                a(href="http://tylernealband.com" target="_blank") Tyler Neal
        .GardenMusicSlot
            span 6PM-8PM
            .GardenMusicBand 
                a(href="http://andreaandmud.com/" target="_blank") Andrea & Mud
    .GardenMusicDay
        h3 Saturday, April 24
        .GardenMusicSlot
            span Noon-2PM
            .GardenMusicBand 
                a(href="https://seedandfeed.org/" target="_blank") Stampede (an ensemble of Seed & Feed)
        .GardenMusicSlot
            span 2PM-4PM
            .GardenMusicBand 
                a(href="https://www.facebook.com/iamlydiaeku/" target="_blank") Lydia Eku & Tetrianna Beasley
    .GardenMusicDay
        h3 Sunday, April 25
        .GardenMusicSlot
            span noon-2PM
            .GardenMusicBand 
                a(href="https://dougkees.com/" target="_blank") Doug Kees
        .GardenMusicSlot
            span 2PM-4PM
            .GardenMusicBand Dos Tre
.GardenMusicLocation
    h2
        | 241 Elizabeth St
        span (Garden)
    .GardenMusicDay
        h3 Friday, April 23
        .GardenMusicSlot
            span 4PM-6PM
            .GardenMusicBand 
                a(href="http://www.slipjig.org/#/pages/music" target="_blank") Mike Simpson & Bella Issakova
        .GardenMusicSlot
            span 6PM-8PM
            .GardenMusicBand 
                a(href="https://dftals.bandcamp.com/" target="_blank") Frank Schultz
    .GardenMusicDay
        h3 Saturday, April 24
        .GardenMusicSlot
            span Noon-2PM
            .GardenMusicBand 
                a(href="https://www.amorch.com/" target="_blank") Atlanta Musicians' Orchestra
        .GardenMusicSlot
            span 2PM-4PM
            .GardenMusicBand 
                a(href="https://www.amorch.com/" target="_blank") Atlanta Musicians' Orchestra
    .GardenMusicDay
        h3 Sunday, April 25
        .GardenMusicSlot
            span noon-2PM
            .GardenMusicBand 
                a(href="http://www.slipjig.org/#/pages/music" target="_blank") Mike Simpson & Keith Berland
        .GardenMusicSlot
            span 2PM-4PM
            .GardenMusicBand 
                a(href="https://www.kenlambertmusic.com/" target="_blank") Ken Lambert
.GardenMusicLocation
    h2
        | 166 Elizabeth St
        span (Porch)
    .GardenMusicDay
        h3 Friday, April 23
        .GardenMusicSlot
            span 4PM-6PM
            .GardenMusicBand 
                a(href="https://www.facebook.com/BrandNewKevins" target="_blank") Brand New Kevins
        .GardenMusicSlot
            span 6PM-8PM
            .GardenMusicBand 
                a(href="https://lovechildband.com/" target="_blank") Love Child
    .GardenMusicDay
        h3 Saturday, April 24
        .GardenMusicSlot
            span Noon-2PM
            .GardenMusicBand 
                a(href="https://birdcityrevolutionaries.com" target="_blank") Philip Floyd
        .GardenMusicSlot
            span 2PM-4PM
            .GardenMusicBand 
                a(href="http://hanielml.com" target="_blank") Hani'el ML Trio
    .GardenMusicDay
        h3 Sunday, April 25
        .GardenMusicSlot
            span noon-2PM
            .GardenMusicBand 
                a(href="https://www.facebook.com/W8ing4UFOs/" target="_blank") W8ing4UFOs
        .GardenMusicSlot
            span 2PM-4PM
            .GardenMusicBand 
                a(href="https://www.saborbrassband.com/" target="_blank") Sabor! Brass Band
.GardenMusicLocation
    h2
        | 189 Hale St
        span (Porch)
    .GardenMusicDay
        h3 Friday, April 23
        .GardenMusicSlot
            span 4PM-6PM
            .GardenMusicBand 
                a(href="http://blackandwhitedistrict.com" target="_blank") Black and White District
        .GardenMusicSlot
            span 6PM-8PM
            .GardenMusicBand 
                a(href="http://cledusjeremiahjones.com" target="_blank") CJ Jones & the Spirit Bones
    .GardenMusicDay
        h3 Saturday, April 24
        .GardenMusicSlot
            span Noon-2PM
            .GardenMusicBand 
                a(href="https://jonharrismusic.com/" target="_blank") Jon Harris
        .GardenMusicSlot
            span 2PM-4PM
            .GardenMusicBand 
                a(href="https://sundogs.net/haraway-brothers" target="_blank") Will Haraway
    .GardenMusicDay
        h3 Sunday, April 25
        .GardenMusicSlot
            span noon-2PM
            .GardenMusicBand 
                a(href="https://www.facebook.com/davefranklinmusic/" target="_blank") Dave Franklin
        .GardenMusicSlot
            span 2PM-4PM
            .GardenMusicBand 
                a(href="https://www.facebook.com/robjordanmusic/" target="_blank") Rob Jordan
.GardenMusicLocation
    h2
        | 840 Ashland Ave
        span (Porch)
    .GardenMusicDay
        h3 Friday, April 23
        .GardenMusicSlot
            span 4PM-6PM
            .GardenMusicBand 
                a(href="https://bradleycolesmith.com/home" target="_blank") Bradley Cole Smith & Jim Emshoff
        .GardenMusicSlot
            span 6PM-8PM
            .GardenMusicBand Up the Dosage
    .GardenMusicDay
        h3 Saturday, April 24
        .GardenMusicSlot
            span Noon-2PM
            .GardenMusicBand 
                a(href="https://www.facebook.com/profile.php?id=100015126901223" target="_blank") Larry Marcinko & Sonic Merchants
        .GardenMusicSlot
            span 2PM-4PM
            .GardenMusicBand 
                a(href="https://bradleycolesmith.com/home" target="_blank") Bradley Cole Smith & Robert Long
    .GardenMusicDay
        h3 Sunday, April 25
        .GardenMusicSlot
            span noon-2PM
            .GardenMusicBand 
                a(href="https://acole.net/" target="_blank") Adam Cole
        .GardenMusicSlot
            span 2PM-4PM
            .GardenMusicBand Amy & the Enablers
.GardenMusicLocation
    h2
        | 814 Edgewood Ave
        span (Garden)
    .GardenMusicDay
        h3 Friday, April 23
        .GardenMusicSlot
            span 4PM-6PM
            .GardenMusicBand 
                a(href="https://www.facebook.com/rickanddavemusic" target="_blank") R&D
        .GardenMusicSlot
            span 6PM-8PM
            .GardenMusicBand 
                a(href="http://frenchyberne.com" target="_blank") Bern&eacute;
    .GardenMusicDay
        h3 Saturday, April 24
        .GardenMusicSlot
            span Noon-2PM
            .GardenMusicBand Jim Crow
        .GardenMusicSlot
            span 2PM-4PM
            .GardenMusicBand Whatley Fenlon
    .GardenMusicDay
        h3 Sunday, April 25
        .GardenMusicSlot
            span noon-2PM
            .GardenMusicBand 
                a(href="https://www.spinsterband.com/" target="_blank") Call Me Spinster
        .GardenMusicSlot
            span 2PM-4PM
            .GardenMusicBand 
                a(href="http://cmcatlanta.com" target="_blank") Community Music Centers
