include ../../_templates/mixins

doctype html
html(lang="en")

    head

        title Inman Park Tour of Gardens April 23-25, 2021 - Music Schedule
        
        meta(content="IE=edge,chrome=1" http-equiv="X-UA-Compatible")
        meta(content="width=device-width" name="viewport")

        link(href='https://fonts.googleapis.com/css?family=Droid+Sans+Mono' rel='stylesheet' type='text/css')
        link(href='/assets/css/main.css', rel='stylesheet' type='text/css')
        //- link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.1/tiny-slider.css")

        meta(property="og:title" content="Inman Park Tour of Gardens April 23-25, 2021 - Music Schedule")
        meta(property="og:description" content="Inman Park Tour of Gardens April 23-25, 2021")
        meta(property="og:image" content="http://inmanparkfestival.org/assets/img/ipf-butterfly-facebook.png")
        meta(property="og:url" content="http://inmanparkfestival.org")
        meta(property="og:type" content="website")
        meta(name="twitter:card" content="summary_large_image")

    body

        .GardenToursContainer
            include ../_gardensheader

            main.GardenTours
                .GardenHero
                    .carousel
                        div
                            img(src='/assets/img/2021/gardens/schroeder-hydrangea.jpg' alt='Oak-leaf Hydrangea in Schroeder Gardens')
                        div
                            img(src='/assets/img/2021/gardens/kousa.jpg' alt='Kousa Dogwood')
                        div
                            img(src='/assets/img/2021/gardens/schroeder-door.jpg' alt='Azaleas near the Door in Schroeder Gardens')
                        div
                            img(src='/assets/img/2021/gardens/cope-2.jpg' alt='Cope Gardens')
                        div
                            img(src='/assets/img/2021/gardens/parrotfeather.jpg' alt="Parrot's Feathers")

                .GardenSection.GardenMusicSponsor
                    .GardenMusicSponsor-text
                        p 
                            | Thank you,
                            br 
                            | Andre de Winter
                            br
                            | our Music Sponsor!
                    .GardenMusicSponsor-image
                        a(href="https://www.compass.com/agents/andre-de-winter/" target="_blank")
                            img(src="/assets/img/2021/sponsors/team360.png", alt="Andre De Winter Realtor - Team 360")

                .GardenSection.bgGarden-secondary.GardenMusic

                    h1 Music Schedule by Location
                    
                    include ./_music.pug






        script(src="/assets/js/gardens.js")
        block scripts

        if (isProduction)
            script.
                var _gaq = _gaq || [];
                _gaq.push(['_setAccount', 'UA-21675291-1']);
                _gaq.push(['_trackPageview']);

                (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
                })();
