include ../../_templates/mixins

doctype html
html(lang="en")

    head

        title Inman Park Tour of Gardens April 23-25, 2021 - Music Schedule
        
        meta(content="IE=edge,chrome=1" http-equiv="X-UA-Compatible")
        meta(content="width=device-width" name="viewport")

        link(href='https://fonts.googleapis.com/css?family=Droid+Sans+Mono' rel='stylesheet' type='text/css')
        link(href='/assets/css/main.css', rel='stylesheet' type='text/css')
        //- link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.1/tiny-slider.css")

        meta(property="og:title" content="Inman Park Tour of Gardens April 23-25, 2021 - Music Schedule")
        meta(property="og:description" content="Inman Park Tour of Gardens April 23-25, 2021")
        meta(property="og:image" content="http://inmanparkfestival.org/assets/img/ipf-butterfly-facebook.png")
        meta(property="og:url" content="http://inmanparkfestival.org")
        meta(property="og:type" content="website")
        meta(name="twitter:card" content="summary_large_image")

    body

        .GardenToursContainer
            include ../_gardensheader

            main.GardenTours
                .GardenHero
                    .carousel
                        div
                            img(src='/assets/img/2021/gardens/schroeder-hydrangea.jpg' alt='Oak-leaf Hydrangea in Schroeder Gardens')
                        div
                            img(src='/assets/img/2021/gardens/kousa.jpg' alt='Kousa Dogwood')
                        div
                            img(src='/assets/img/2021/gardens/schroeder-door.jpg' alt='Azaleas near the Door in Schroeder Gardens')
                        div
                            img(src='/assets/img/2021/gardens/cope-2.jpg' alt='Cope Gardens')
                        div
                            img(src='/assets/img/2021/gardens/parrotfeather.jpg' alt="Parrot's Feathers")

                
                .GardenSection.bgGarden-secondary.GardenMusic

                    h1 Music Schedule by Location
                    
                    .GardenMusicLocation
                        h2
                            | 213 Elizabeth St
                            span (Porch)
                        .GardenMusicDay
                            h3 Friday, April 23
                            .GardenMusicSlot
                                span 4PM-6PM
                                .GardenMusicBand 
                                    a(href="http://tylernealband.com" target="_blank") Tyler Neal
                            .GardenMusicSlot
                                span 6PM-8PM
                                .GardenMusicBand 
                                    a(href="http://andreaandmud.com/" target="_blank") Andrea & Mud
                        .GardenMusicDay
                            h3 Saturday, April 24
                            .GardenMusicSlot
                                span Noon-2PM
                                .GardenMusicBand 
                                    a(href="https://seedandfeed.org/" target="_blank") Stampede (an ensemble of Seed & Feed)
                            .GardenMusicSlot
                                span 2PM-4PM
                                .GardenMusicBand TBD
                        .GardenMusicDay
                            h3 Sunday, April 25
                            .GardenMusicSlot
                                span noon-2PM
                                .GardenMusicBand 
                                    a(href="https://dougkees.com/" target="_blank") Doug Kees
                            .GardenMusicSlot
                                span 2PM-4PM
                                .GardenMusicBand Dos Tre
                    .GardenMusicLocation
                        h2
                            | 241 Elizabeth St
                            span (Garden)
                        .GardenMusicDay
                            h3 Friday, April 23
                            .GardenMusicSlot
                                span 4PM-6PM
                                .GardenMusicBand 
                                    a(href="http://www.slipjig.org/#/pages/music" target="_blank") Mike Simpson & Bella Issakova
                            .GardenMusicSlot
                                span 6PM-8PM
                                .GardenMusicBand 
                                    a(href="https://dftals.bandcamp.com/" target="_blank") Frank Schultz
                        .GardenMusicDay
                            h3 Saturday, April 24
                            .GardenMusicSlot
                                span Noon-2PM
                                .GardenMusicBand 
                                    a(href="https://www.amorch.com/" target="_blank") Dahlan
                            .GardenMusicSlot
                                span 2PM-4PM
                                .GardenMusicBand 
                                    a(href="https://www.amorch.com/" target="_blank") Dahlan
                        .GardenMusicDay
                            h3 Sunday, April 25
                            .GardenMusicSlot
                                span noon-2PM
                                .GardenMusicBand 
                                    a(href="http://www.slipjig.org/#/pages/music" target="_blank") Mike Simpson & Keith Berland
                            .GardenMusicSlot
                                span 2PM-4PM
                                .GardenMusicBand 
                                    a(href="https://www.kenlambertmusic.com/" target="_blank") Ken Lambert
                    .GardenMusicLocation
                        h2
                            | 145 Elizabeth St
                            span (Porch)
                        .GardenMusicDay
                            h3 Friday, April 23
                            .GardenMusicSlot
                                span 4PM-6PM
                                .GardenMusicBand 
                                    a(href="https://www.facebook.com/BrandNewKevins" target="_blank") Brand New Kevins
                            .GardenMusicSlot
                                span 6PM-8PM
                                .GardenMusicBand 
                                    a(href="https://lovechildband.com/" target="_blank") Love Child
                        .GardenMusicDay
                            h3 Saturday, April 24
                            .GardenMusicSlot
                                span Noon-2PM
                                .GardenMusicBand Philip Floyd
                            .GardenMusicSlot
                                span 2PM-4PM
                                .GardenMusicBand 
                                    a(href="hanielml.com" target="_blank") Hani'el ML Trio
                        .GardenMusicDay
                            h3 Sunday, April 25
                            .GardenMusicSlot
                                span noon-2PM
                                .GardenMusicBand 
                                    a(href="https://www.facebook.com/W8ing4UFOs/" target="_blank") W8ing4UFOs
                            .GardenMusicSlot
                                span 2PM-4PM
                                .GardenMusicBand 
                                    a(href="https://www.saborbrassband.com/" target="_blank") Sabor! Brass Band
                    .GardenMusicLocation
                        h2
                            | 189 Hale St
                            span (Porch)
                        .GardenMusicDay
                            h3 Friday, April 23
                            .GardenMusicSlot
                                span 4PM-6PM
                                .GardenMusicBand TBD
                            .GardenMusicSlot
                                span 6PM-8PM
                                .GardenMusicBand CJ Jones & the Spirit Bones
                        .GardenMusicDay
                            h3 Saturday, April 24
                            .GardenMusicSlot
                                span Noon-2PM
                                .GardenMusicBand 
                                    a(href="https://jonharrismusic.com/" target="_blank") Jon Harris
                            .GardenMusicSlot
                                span 2PM-4PM
                                .GardenMusicBand 
                                    a(href="https://sundogs.net/haraway-brothers" target="_blank") Will Haraway
                        .GardenMusicDay
                            h3 Sunday, April 25
                            .GardenMusicSlot
                                span noon-2PM
                                .GardenMusicBand 
                                    a(href="https://www.facebook.com/davefranklinmusic/" target="_blank") Dave Franklin
                            .GardenMusicSlot
                                span 2PM-4PM
                                .GardenMusicBand 
                                    a(href="https://www.facebook.com/robjordanmusic/" target="_blank") Rob Jordan
                    .GardenMusicLocation
                        h2
                            | 840 Ashland Ave
                            span (Porch)
                        .GardenMusicDay
                            h3 Friday, April 23
                            .GardenMusicSlot
                                span 4PM-6PM
                                .GardenMusicBand 
                                    a(href="https://bradleycolesmith.com/home" target="_blank") Bradley Cole Smith and Jim Emshoff
                            .GardenMusicSlot
                                span 6PM-8PM
                                .GardenMusicBand Up the Dosage
                        .GardenMusicDay
                            h3 Saturday, April 24
                            .GardenMusicSlot
                                span Noon-2PM
                                .GardenMusicBand Larry Marcinko
                            .GardenMusicSlot
                                span 2PM-4PM
                                .GardenMusicBand 
                                    a(href="https://bradleycolesmith.com/home" target="_blank") Bradley Cole Smith
                        .GardenMusicDay
                            h3 Sunday, April 25
                            .GardenMusicSlot
                                span noon-2PM
                                .GardenMusicBand 
                                    a(href="https://acole.net/" target="_blank") Adam Cole
                            .GardenMusicSlot
                                span 2PM-4PM
                                .GardenMusicBand Amy Christian
                    .GardenMusicLocation
                        h2
                            | 814 Edgewood Ave
                            span (Garden)
                        .GardenMusicDay
                            h3 Friday, April 23
                            .GardenMusicSlot
                                span 4PM-6PM
                                .GardenMusicBand 
                                    a(href="https://www.facebook.com/rickanddavemusic" target="_blank") R&D
                            .GardenMusicSlot
                                span 6PM-8PM
                                .GardenMusicBand Berne
                        .GardenMusicDay
                            h3 Saturday, April 24
                            .GardenMusicSlot
                                span Noon-2PM
                                .GardenMusicBand Jim Crow
                            .GardenMusicSlot
                                span 2PM-4PM
                                .GardenMusicBand Whatley Fenlon
                        .GardenMusicDay
                            h3 Sunday, April 25
                            .GardenMusicSlot
                                span noon-2PM
                                .GardenMusicBand 
                                    a(href="https://www.spinsterband.com/" target="_blank") Call Me Spinster
                            .GardenMusicSlot
                                span 2PM-4PM
                                .GardenMusicBand TBD






        script(src="/assets/js/gardens.js")
        block scripts

        if (isProduction)
            script.
                var _gaq = _gaq || [];
                _gaq.push(['_setAccount', 'UA-21675291-1']);
                _gaq.push(['_trackPageview']);

                (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
                })();
