.Banner
    padding: 0.5em
    text-align: center
    font-family: $base-font-family-serif

.Banner--dates
    background: $brand-yellow
    color: $brand-black

    @media (min-width: $bp-md)
        div
            display: inline-block
            &:last-child
                margin-left: 0.5em
                padding-left: 0.5em
                border-left: 1px solid $brand-black

    @media (min-width: $bp-lg)
        padding: 0.75em
        font-size: 1.15em

.Banner--tix
    background: rgb(222,222,222)

    @media (min-width: $bp-md)
        display: none
