.GardenToursHeaderContainer
    background-color: $brand-grey-dark

.GardenToursHeader
    h1
        margin: 0
        padding: 0.5em 0 0
        font-family: $base-font-family-serif
        text-align: center
        font-size: 1.2em
        color: #000
        span
            display: block
            padding: 0.5em 0
            background-color: $brand-yellow

        @media screen and (min-width: $bp-md)
            font-size: 1.5em
            span
                padding: 0.75em 0

.GardenToursNav
    padding: 0.25em 0
    text-align: center
    background-color: $brand-green
    a
        display: inline-block
        margin: 0
        padding: 0.45em 0.75em
        color: black
        text-decoration: none
        border-right: 1px solid black
        &:first-child
            padding-left: 0
        &:last-child
            margin-right: 0
            padding-right: 0
            border-right: none


.GardenToursContainer
    margin: 0 auto
    max-width: 43em
    @media screen and (min-width: $bp-md)
        max-width: 56em

.GardenTours
    margin: 0

    h2
        font-size: 1.3em

.GardenSection
    padding: 1em
    @media screen and (min-width: $bp-md)
        padding-left: 2em
        padding-right: 2em
    @media screen and (min-width: $bp-lg)
        padding-left: 3em
        padding-right: 3em


.GardenSection.bgGarden-secondary
    background-color: #eee


.GardenSectionSplit
    @media screen and (min-width: $bp-md)
        display: flex
.GardenSectionSplit-half
    @media screen and (min-width: $bp-md)
        flex: 0 1 50%

    > div
        padding: 1em

    &.alt-secondary
        background-color: $brand-green
    &.alt-tertiary
        background-color: $brand-yellow

.GardenHero
    padding-bottom: .5em
    background-color: #ddd
    // background-image: url('/assets/img/2021/garden-bg.jpg')
    // background-size: cover
    
    // div
    //     margin: 0 auto
    //     max-width: 35em
    // h2
    //     margin: .25em 0 0
    //     padding: 0 3em
    //     text-align: center

    img
        max-width: 100%

    // @media screen and (min-width: $bp-md)
    //     min-height: 400px

    .tns-nav
        padding-top: .3em

    button[data-action="stop"],
    button[data-action="start"]
        display: none

.GardenWelcome
    h2
        margin: 1.5em 0 0
        padding: 0 3em
        font-size: 1.5em
        text-align: center

.GardenSponsors-primary
    padding-top: 1.5em
    padding-bottom: 1.5em
    text-align: center
    h2
        margin-top: 0
        margin-bottom: 0.5em
        margin-left: 2em
        margin-right: 2em
        font-size: 1em
        text-align: center
    img
        width: 100%
        max-width: 400px

.GardenMoreDetails
    min-height: 300px
    @media screen and (min-width: $bp-md)
        min-height: 500px

.GardenMerchandise
    min-height: 200px

.GardenTickets
    display: flex

    .GardenTickets-copy
        h2
            margin-top: 0

    @media screen and (min-width: $bp-md)
        margin-top: 1em

        .GardenTickets-image
            flex: 0 1 25%
            background-image: url('/assets/img/2021/cope-frog.jpg')
            background-size: contain
            background-repeat: no-repeat
            width: 200px
            height: 200px

        .GardenTickets-copy
            flex: 0 1 75%
            padding-top: 0.25em
            padding-left: 1em

.GardenVolunteer
    margin: 1em 0
    padding: 2em
    background-color: $brand-green

    h3
        margin: 0
        padding: 0
        font-size: 1.5em
        font-family: $base-font-family-sans-serif
        font-style: normal
        font-weight: normal
        text-transform: uppercase
        color: $brand-white
        letter-spacing: 0.1em
    p
        margin: 0

    .Button
        display: block
        margin-top: 1em
        max-width: 60%
        text-align: center

    .GardenVolunteer-copy
        display: block

    @media screen and (min-width: $bp-md)
        display: flex
        justify-content: center
        align-items: center

        .GardenVolunteer-copy
            flex: 0 1 50%
            text-align: right
            padding-right: 3em
            
            
        .GardenVolunteer-link
            flex: 0 1 50%
        
        .Button
            margin-top: 0


.GardenMap
    min-height: 160px
    @media screen and (min-width: $bp-md)
        min-height: 200px

.GardenSponsors-secondary
    min-height: 420px

.Gardens-moreSponsors
    margin: 0 0 2em
    text-align: center

    @media screen and (min-width: $bp-md)
        margin-bottom: 1em

    @media screen and (min-width: $bp-lg)
        margin-bottom: 2em

    // a
    //     display: inline-block
    //     padding: .5em 1em
    //     border-radius: 4px
    //     background-color: $brand-green-dark
    //     color: #fff
    //     text-decoration: none

    //     &:hover
    //         background-color: $brand-green

    //     &:visited
    //         color: #fff

.GardenSponsors-title
    font-family: $base-font-family-serif
    font-size: 2em
    text-align: center

.GardenOnTour
    h2
        span
            display: block
            font-size: 0.8em

.GardensBackLink
    text-decoration: none

.ButtonWithOutline
    background: none
    border: 1px solid $brand-green
    padding: 0.5em
    text-decoration: none

