extends ../_templates/layout

block title
    title #{globals.ipf.title} | What Inman Park Festival is doing about COVID-19/Coronavirus

block contents

    include ../_includes/_banner

    article.u-container

        p Our top priority is the safety and health of our patrons, artists, guests, staff, vendors and community. Therefore, due to COVID-19 concerns, Inman Park Spring Festival &amp; Tour of Homes, scheduled to take place April 24-26, 2020 will be postponed or cancelled. We are evaluating if a rescheduled event is possible or if we will see you next April, 2021. We will announce more information in the next few weeks. We encourage all to adhere to the CDC guidelines to prevent the spread of COVID-19.


        //- h1 What is Inman Park Festival doing about the COVID-19 Coronavirus?

        //- p We have enhanced precautions during our event based on CDC&rsquo;s guidance, and here&rsquo;s what we&rsquo;re doing to prepare:

        //- ul 
        //-     li Increased hand washing and sanitizing stations throughout Festival. Each home and garden on the Tour of Homes will have its own hand sanitizer station.

        //-     li We will have disposable face masks on-site at the EMT stations for individuals showing respiratory symptoms.

        //-     li Staff and volunteers who are sick or feel ill will not be permitted to attend.

        //-     li Attendees who are not feeling well may be asked to leave.

        //-     li City of Atlanta officials will inspect to ensure food, beverage, and sanitary stations are up to standards. 

        //-     li All microphones will be sanitized between sets.

        //-     li Helping the community keep themselves healthy by promoting daily practice of preventative actions:
            
                ul
                    li Stay home when you are sick, except to get medical care.

                    li Cover your coughs and sneezes with a tissue, then throw the tissue in the trash.

                    li Wash your hands often with soap and water for at least 20 seconds, especially after going to the bathroom; before eating; and after blowing your nose, coughing, or sneezing.

                    li Avoid touching your eyes, nose, and mouth with unwashed hands.

                    li Clean frequently touched surfaces and objects daily.