extends ../_templates/layout

block title
    title #{globals.ipf.title} | What Inman Park Festival is doing about COVID-19/Coronavirus

block contents

    include ../_includes/_banner

    article.u-container

        p Inman Park Festival is actively monitoring the situation with respect to the COVID-19 Coronavirus, and will communicate to the community in the event that the CDC or other public health authorities issue any specific recommendations or restrictions that would impact our event. Festival is scheduled to begin 6 weeks from today.  Given that amount of time and the information we have available now, we are not cancelling Festival as the virus and its effects could well have cycled through by then.

        h1 What is Inman Park Festival doing about the COVID-19 Coronavirus?

        p We have enhanced precautions during our event based on CDC&rsquo;s guidance, and here&rsquo;s what we&rsquo;re doing to prepare:

        ul 
            li Increased hand washing and sanitizing stations throughout Festival. Each home and garden on the Tour of Homes will have its own hand sanitizer station.

            li We will have disposable face masks on-site at the EMT stations for individuals showing respiratory symptoms.

            li Staff and volunteers who are sick or feel ill will not be permitted to attend.

            li Attendees who are not feeling well may be asked to leave.

            li City of Atlanta officials will inspect to ensure food, beverage, and sanitary stations are up to standards. 

            li All microphones will be sanitized between sets.

            li Helping the community keep themselves healthy by promoting daily practice of preventative actions:
            
                ul
                    li Stay home when you are sick, except to get medical care.

                    li Cover your coughs and sneezes with a tissue, then throw the tissue in the trash.

                    li Wash your hands often with soap and water for at least 20 seconds, especially after going to the bathroom; before eating; and after blowing your nose, coughing, or sneezing.

                    li Avoid touching your eyes, nose, and mouth with unwashed hands.

                    li Clean frequently touched surfaces and objects daily.