extends ../../_templates/layout

block title
    title #{globals.ipf.title} | Events | 1972 Walking Tour

block contents

    +secondaryNav(globals.events.nav, "1972-walking-tour")
    
    include ../../_includes/_banner

    .u-container
    
        h1 Inman Park 1972 Walking Tour


    article.u-container
        .Hero 
            img(src="/assets/img/2022/walking-tour.jpeg")

        p
            strong 1972 Walking Tour details: 
            br
            | Saturday, April 23 & Sunday, April 24
            br
            | Self-guided Walking Tour
            br
            | Free and Open to the Public

        p 
            small Please do not enter the homes on this walking tour unless they are specifically open for the 2022 Tour of Homes. 

        h2 Original Script of the First Inman Park Walking Tour (1972):

        p Welcome to Inman Park! We hope you are having a wonderful day, that you've had some lunch - your picnic maybe? - and that you're ready for a tour that will show you what Inman Park was, is now, and our hopes for its future. Other literature has given you some history of the area, so the tour will only point out highlights. Today we invite you to meet people with a sense of place, people who love Atlanta, who want to live in-town, and show what we are doing to be here. We hope to show you a neighborhood unlike any you've ever heard about. We hope to show you that Inman Park is happening. Perhaps you&rsquo;ll like what you see and what you hear. And perhaps you&rsquo;ll come back to live here. We hope so.

        h3 1. 963 Edgewood, The Trolley Barn
        p You are now at the Car Barn, the eastern terminal of the Atlanta and Edgewood Street Railway Company formed by Joel Hurt, Sr. It was the first Electric Street Railway in Atlanta and the first in the United States in the world to be a financial success from its beginning. The first running of the Railway was on 21 August 1889 from Five Points to Inman Park, a distance of two miles. 

        p Let us start our tour by following the route of the Railway. Along the way we have to let our imagination full reign in order to envision what Joel Hurt had created. We will see what time and neglect have done to this first planned suburb in the South, and we will see a neighborhood that is no longer a suburb but an inner-city community coming back to life. Though not all houses in the area will be open, you can identify restoration houses by the yellow banners.

        h3 2. 1015 Edgewood
        p We head East and come first to the Inman Park Methodist Church. Of all the churches in the area this is the first, organized 25 February 1896. The church is open and you are invited to view the stained glass and the original organ. 

        h3 3. 1020 Edgewood 
        p Continuing East, on the left is the office of Inman Park Realty. Henry Moog, Jr. has gotten the IP spirit and restored this house for offices. The office is open. 

        h3 4. 134 Hurt Street and 162 Hurt Street 
        p Turn left on Hurt Street. Here is a street lined with splendid houses on the west and cleared on the east for a proposed transportation medium. Georgia Simmons (of the &ldquo;Original Tobacco Road&rdquo;) lives behind the picket fence. &ldquo;The Castle&rdquo; as it is lovingly called has recently been purchased by Robert Gage of Houston, Texas for restoration. The foyer is open in its unrestored condition. Across the clearing can be seen what were the Breastworks you see is the site of the Troup Hurt House recorded in the Battle of Atlanta painting at the Cyclorama in Grant Park. Also in that clearing was the site of the home of Judge Pye who fought so valiantly against the Interstate Highway. 

        h3 5. 145 Elizabeth Street walking towards Edgewood 
        p We continue to follow the route of the Railway by turning left at Euclid Avenue. Some restoration is in progress on the right. At the corner of Elizabeth Street is the Asa Candler House. The house is presently divided into apartments but the foyer is open. 

        p Proceed on Elizabeth Street past the new wood fence. At the south end of the street is number 117, the first house in which Joel Hurt lived upon moving from Spring Street. This was the first street cut in Inman Park, and named in honor of Mr. Hurt&rsquo;s Cousin, Ms. Elizabeth Hurt Jones, from whom the land was bought. 

        p We arrive back at Edgewood Avenue again ad make a right turn to head west toward town. From here we get a fine view of the Car arn The large opening in the end was for the Streetcars. The turret, with its two windows was probably the dispatch room. The bay window on the front (Inman Park Restoration, Information and Ticket center) was the ticket window. In the center of the building is a small pitched roof that was added much later when the structure was used by the Inman Park Baptist Church. Prior to its recent purchase, the Car Barn was used by a heavy construction firm for a warehouse and garage. After these festivities it will be used for the Wrecking Bar (See number 24)

        p Now we go west on Edgewood Avenue. Opened by Joel Hurt around 1886, this was originally a tree lined boulevard. It was the only street at the time upon which one could stand and see the entire distance of 2 miles. 

        p Passing the South end of Springvale Park (See number 17)we see first the Woodruff House at the corner of Waverly Way (Read, by the wary, the historical Marker on the Waverly Way side of the park). This house was built by Ernest Woodruff around 1893 after having lived a short while on Euclid Avenue. Notice the wonderful arch supporting the chimneys and all the detailing. The house is presently a boarding house. 

        h3 6. 897 Edgewood to 889 Edgewood
        p On the South side of he street, 897 Edgewood Avenue is the Cole House, built in 1889. It has been recently purchased by Jeff and Bonnie Dees who have been diligently working the past month to make a small part of the house habitable. Prior to Jeff and Bonnie deciding that this was their dream house -no sliding glass doors and concrete patios for them- it had been a boarding house and remains pretty much as they found it. The Dee&rsquo;s have decided to let you see the challenge that an Inman park resident faces, so the house is open. 

        p Next door, the green house, was originally the King House built in 1890-a fact that is set forever by a block in the chimney. Notice the fine beveled glass over the front door. The house is presently a boarding house. 

        h3 883 Edgewood
        p The next house was built as the Glenn House and is presently being renovated by Dr. Richard Long. This was the childhood home of the former Mrs. Howard Candler (Flora Glenn). 

        p On the north side of the street are a group of bungalows built around 1930 on the land that had been a park called The Mesa. They are in great contrast to the large houses on the large lots that had typified the neighborhood until the twenties when Druid Hills started to attract the fancy of the wealthy. Fortunately, many of the splendid live oaks which were planted by Mr. Hurt from seedlings brought from the Okefenokee Swamp remain. At the end of the block, practically under one of these live oaks is the house of Rodney Eaton. The house is being renovated as time and funds permit, but the house is open and someone will tell you what Rod is planning. 

        p Continue west thru the park area and count the live oaks visible from here &ndash;we lost one to the chain saw recently-. If traffic permits, cross the street to read the historical marker. Stop in the middle of the street to view the capitol dome to the west and the tower of the Inman Park Methodist Church to the east. 

        h3 8. 814 Edgewood Ave 
        p Continuing west past Father Michael&rsquo;s (there may be some wonderful gospel singing drifting out), you arrive at the home of Glenn and Susan Bridges. This was originally the Winship House built in 1893. Notice the metal fascia and the wonderful detailing. The Bridges&rsquo; can show you some before and after conditions and tell you about the house. 

        p *826 Edgewood Father Michael&rsquo;s was a church that burned and was replaced by a new house in the late 1970&rsquo;s. 

        h3 9. 804 Edgewood 
        p Next door is the J. P. Stevens House, now proudly owned and being lovingly restored by Dr. and Mrs.  Jim Wilbur. The house is open and Jim and Louise can tell you some of the best restoration stories in the neighborhood. 

        p Turn right from Edgewood into Spruce Street. Most of the original brick sidewalks remain, though still in need of repair. At the end of the street (on the left) is a house recently purchased by Celestine Sibley. Some Sweet Apple comes to the city! 

        h3 10. 840 Ashland 
        p Turn right onto Dixie Avenue, bear left at Druid Circle and go down Ashland Place. At the end (notice the marvelous house in front of you) turn left. Eric and Suzanne Allstromare doing absolute wonders to a house that had been condemned. They will be happy to tell you about the house and how they found it. (797 Ashland)

        p Cross Ashland and go down Virgil Street to observe another building of the period of Inman Park. Th is street has all small houses that have great variety and a certain amount of whimsey. You might find hour house even here. 


        h3 11. 158 Hale Street 
        p At the end of the street turn right into Hale Street. The second house on the right with the wonderful siding is the home of Ross Ingram, probably the oldest house in the neighborhood. Go inside and see that the wood continues within. 

        p From here go up the hill, turn right back onto Ashland Avenue. (852 Ashland) Robert Jones is working on the second house on the right. Next door is Clare White (846 Ashland). All of the stained glass in this house is original. 

        p Turn left, proceed up the hill to Druid Circle. The house directly in front of you (110 Druid Circle) is one of the first concrete block houses in Atlanta. The multi-colored house is owned by Justis and Diane Randolf They didn&rsquo;t paint that in a weekend! 

        p Next door (99 and 97 Druid Circle) is the family of Dock and Judy Harrell. A marvelous example of past, present, and future, the Harrell&rsquo;s have reclaimed nearly the whole house, which was originally one of Atlanta&rsquo;s first duplex mansions. 

        h3 12. 860 Euclid
        p At the corner of Druid Circle and Euclid Ave. is the home of Reverend and Mrs. Charles Helems. Charles and Helen would be happy to show you what they are doing. 

        h3 13. 866 Euclid
        p Next door is Belle Retch, the progenitor of the Inman Park movement. Robert Griggs saw it, loved it, restored it and started Inman park Restoration, Inc. He is also currently president. The house is open. 

        h3 14. 872 Euclid
        p Tom and Debby Sherwood are next door. Go inside to get a better look at the veveled glass that you get a glimpse of from the street. 

        h3 15. 882 Euclid
        p Continuing east on Euclid Avenue, the large yellow house is being restored by Paul Domini and Michael Hoover. They will be outside to tell you about the house. 

        p Continuing again on Euclid we return to Springvale Park. The road on which you stand is not original: it was built about ten years ago to make Euclid a thru street. What a pity. You will have to really imagine now that originally there was a stream, starting at the south end and flowing into a lake at the north which was used for ice skating. The park was the enter of many social and recreational activities in its day from picnics to fox hunts. There are remains of some of the walls and paths but very few of the hundreds of trees and shrubs, some of them exotic, including the live oak, which were originally planted. It must have been very beautiful. We envy them that they had the park intact. 


        h3 16. 167 Elizabeth
        p We arrive back at Elizabeth Street next. Having already seen the Candler House (see number 5), we turn left. On the Northeast corner is the Hurt House. Many happy stories are told of the house and its family. Only the gardens are available to us today, so enjoy all the beautiful planting. 

        p Just as Elizabeth street was the first cut in the original development, so too is the first to be nearly all purchased by new residents. Of the 26 properties, 14 are new people, 5 are owner maintained and 7 are waiting to happen. 

        h3 17.  177 Elizabeth
        p The first we encounter No. 176, home of the family of Ken and June Thompson. Across the street, Larry and Krista Means have recently bought the yellow house. Next year we weill see a great improvement. 

        h3 18.185 Elizabeth
        p Next door live Gayle and Holly Mull at 185. This year is the first lawn the house has seen in 20 years! Open

        h3 19. 210 Eizabeth
        p At 210 live Fred Bradshaw and Veverly Hensley. Next door is John Sweet. There is a marvelous terra cotta mantle in the foyer here. 

        h3 20. 230 Elizabeth
        p Toward the end of the block, at 230 are Tom and Brenda Williams who are open. 

        h3 21. 225 Elizabeth 
        p Back up the hill at 225 is the family of Arden and Elizabeth Brey.

        h3 22. 213 Elizabeth
        p And next door on the corner are Earl and Chris Moses. 

        p We turn up Waverly Way here to the home of Bob and Patty Sprinkle. Walking past the apartment building 956, we see a house being restored by Phillip Flag and Daivd Wilard. (926 Waverly Way)

        p Come back now to Hurt Street and head up the hill to Euclid. Cathy Clements is restoring a house (215 Hurt St) on this street as are Bill and Ann Mosley (211 Hurt). 

        p When you get to the corner you will have a decision to make: to continue walking and seeing or returning to the car barn. The later can be done by crossing Euclid and proceeding on Hurt Street to Edgewood. The former can be done by turning left and going east on Euclid Avenue. Go past the cleared area and continue until you come to Austin Avenue. Stopping at the corner, there is Moreland Elementary School behind you. Bass High School in front to your left and Little Five Points straight ahead. If you are feeling particularly energetic, go to your first left, Washita Avenue. This street leads into Sinclair Avenue and turning right on Sinclair you can go to Colquitt Avenue and you arrive back on Euclid, having circled Bass High School and having seen many fine smaller houses. If you&rsquo;re feeling lazy turn left onto Austin Avenue. Go all the way to the end. On the right, at 1135 Austin is the house built by Mr. Austin for whom the street is named. Next door, 1139 Austin, is a house being restored by Tom Darden and David Veal. The house was built around 1910 by Mr. Austin for his daughter and son-in-law. Go thru park of the house, but particularly the back garden. 

        h3 24. 292 Moreland Ave NE, The Wrecking Bar 
        p When you finish enjoying the beauties of spring, cross Austin Avenue and feast your eyes on the architectural antiques at the Wrecking Bar. Coming from the Wrecking Bar, use the service road paralleling Moreland Avenue to get to Alta Avenue. Go to second left and go up the hill to DeGress Ave. until you come to Dekalb. Turn right and go towards town. The railroad yards across the street are approximately where the new 1970&rsquo;s version of rapid transit will be. There will also be a station in this general vicinity. 

        p A two-block walk will return you to Hurt Street. Turn right and then left and you are back on Edgewood Avenue at the Methodist Church. Continue to the Car Barn. You have seen it. At least most of it. Now you can see that Inman Park is happening. 

        p We have enjoyed having you with us today and hope for your speedy return. Next year perhaps we will have most of the houses you have seen finished and we can move on to help restore your neighborhood. 
