extends ../_templates/layout

block pageVars
    - var selectedNav = 'sponsors'

block title
    title #{globals.ipf.title} | Sponsors

block contents

    include ../_includes/_banner
    
    .u-container

        h1 Festival Sponsors
        
        //- p This year&rsquo;s festival sponsors will be listed soon.

    .SponsorsContainer
        h2.SponsorsHeader.SponsorsHeader--presenting Presenting Sponsor
        .Sponsors.Sponsors--Presenting
            a(href="https://www.northside.com/" target="_blank")
                img(src="/assets/img/2019/sponsors/presenting/northside-hospital.png" alt="Inman Park Festival Presenting Sponsor: Northside Hospital")
    
        h2.SponsorsHeader.SponsorsHeader--gold Gold Sponsors
        ul.Sponsors.Sponsors--gold
            +sponsorGridImage("/assets/img/2017/sponsors/gold/sweetwater-brewing.png", "Sweetwater Brewing Co.", "http://sweetwaterbrew.com/")
            +sponsorGridImage("/assets/img/2017/sponsors/gold/blue-moon.png", "Blue Moon Brewing", "https://www.bluemoonbrewingcompany.com")
            +sponsorGridImage("/assets/img/2017/sponsors/gold/old-fourth-ward-distillery.png", "Old Fourth Ward Distillery", "http://www.o4d.com/")
            +sponsorGridImage("/assets/img/2017/sponsors/gold/sierra-nevada.png", "Sierra Nevada Brewing", "http://www.sierranevada.com/")
            +sponsorGridImage("/assets/img/2017/sponsors/gold/terrapin.png", "Terrapin Beer Co.", "http://terrapinbeer.com/")
            +sponsorGridImage("/assets/img/2017/sponsors/gold/asw-distillery.png", "ASW Distillery", "http://www.aswdistillery.com/")
            +sponsorGridImage("/assets/img/2019/sponsors/gold/14-hands-logo.png", "14 Hands Winery", "https://www.14hands.com/")
            +sponsorGridImage("/assets/img/2020/sponsors/gold/vizzy-logo.png", "Vizzy Hard Selzer")
    
        h2.SponsorsHeader.SponsorsHeader--silver Silver Sponsors
        ul.Sponsors.Sponsors--silver
            +sponsorGridImage("/assets/img/2018/sponsors/silver/king-of-pops.png", "King of Pops Logo", "https://kingofpops.com/")
            +sponsorGridImage("/assets/img/2020/sponsors/silver/falcons-logo.png", "Atlanta Falcons Logo", "https://www.atlantafalcons.com/")
    
        h2.SponsorsHeader.SponsorsHeader--bronze Bronze Sponsors
        ul.Sponsors.Sponsors--bronze
            +sponsorGridImage("/assets/img/2019/sponsors/bronze/atlanta-united.png", "Atlanta United Logo", "http://www.atlunited.com")
            +sponsorGridImage("/assets/img/2018/sponsors/bronze/whitten.jpg", "Whitten Management Services Logo", "http://www.whittenmanagement.com/")
            +sponsorGridImage("/assets/img/2017/sponsors/silver/circus-camp.png", "Circus Camp Logo", "http://www.circuscamp.org/")
            +sponsorGridImage("/assets/img/2018/sponsors/bronze/wrfg.png", "WRFG Logo", "http://wrfg.org")
            +sponsorGridImage("/assets/img/2020/sponsors/bronze/ayla-logo.png", "Ayla Dress Shop Logo", "https://www.facebook.com/Ayla-Dresses-Shop-647024758821301/")
            +sponsorGridImage("/assets/img/2020/sponsors/bronze/leaf-filter-logo.png", "LeafFilter Gutter Protection Logo", "https://www.leaffilter.com/")
            +sponsorGridImage("/assets/img/2020/sponsors/bronze/barnone-logo.png", "Bar None Logo", "https://www.drinkbarnone.com/")
            +sponsorGridImage("/assets/img/2020/sponsors/bronze/village-theatre-logo.png", "Village Theatre Logo", "http://www.villagecomedy.com/")
            +sponsorGridImage("/assets/img/2020/sponsors/bronze/culture-care-logo.png", "Culture Care Au Pair Logo", "https://culturalcare.com/")
            //- hawks
            
        h2.SponsorsHeader.SponsorsHeader--other Friends of Festival
        ul.Sponsors.Sponsors--other
            li 
                a(href="https://bartaco.com/" target="_blank") bartaco
            li 
                a(href="https://www.bondcu.com/" target="_blank") BOND Credit Union
            li 
                a(href="https://www.proofbakeshop.com/" target="_blank") Proof

            
