extends ../_templates/layout

block pageVars
    - var selectedNav = 'sponsors'

block title
    title #{globals.ipf.title} | Sponsors

block contents

    include ../_includes/_banner
    
    .u-container

        h1 Festival Sponsors

    .SponsorsContainer
        h2.SponsorsHeader.SponsorsHeader--presenting Presenting Sponsor
        .Sponsors.Sponsors--Presenting
            a(href="https://www.northside.com/" target="_blank")
                img(src="/assets/img/2019/sponsors/presenting/northside-hospital.png" alt="Inman Park Festival Presenting Sponsor: Northside Hospital")
    
        h2.SponsorsHeader.SponsorsHeader--gold Gold Sponsors
        ul.Sponsors.Sponsors--gold
            +sponsorGridImage("/assets/img/2019/sponsors/bronze/atlanta-united.png", "Atlanta United Logo", "https://www.atlutd.com/")
    
        h2.SponsorsHeader.SponsorsHeader--silver Silver Sponsors
        ul.Sponsors.Sponsors--silver
            +sponsorGridImage("/assets/img/2022/sponsors/minty-living.png", "Minty Living", "https://guests.mintyliving.com/")
            +sponsorGridImage("/assets/img/2021/sponsors/team360.png", "Compass - Team 360", "https://www.compass.com/agents/team-360-atl/")
            +sponsorGridImage("/assets/img/2022/sponsors/your-intown-home.png", "Your Intown Home Property Management", "https://www.yourintownhome.com/")
    
        h2.SponsorsHeader.SponsorsHeader--bronze Bronze Sponsors
        ul.Sponsors.Sponsors--bronze
            +sponsorGridImage("/assets/img/2022/sponsors/krog-district.png", "Krog District", "https://krogstreetmarket.com/")
            +sponsorGridImage("/assets/img/2022/sponsors/small-carpenters-at-large.png", "Small Carpenters at Large", "http://www.scalhome.com/")
            +sponsorGridImage("/assets/img/2022/sponsors/danielle-napolitano.png", "Danielle Napolitano, Realtor", "https://erinyabroudy.com/")
            +sponsorGridImage("/assets/img/2022/sponsors/leaf-filter.png", "Leaf Filter Gutter Protection")
            +sponsorGridImage("/assets/img/2022/sponsors/state-farm.png", "State Farm", "https://www.statefarm.com/")
            +sponsorGridImage("/assets/img/2022/sponsors/village-vets.jpg", "Village Vets", "https://thevillagevets.com/")
            +sponsorGridImage("/assets/img/2022/sponsors/coke-zero.png", "Coke Zero", "https://us.coca-cola.com/products/coca-cola-zero-sugar")

        h2.SponsorsHeader.SponsorsHeader--other Additional Sponsors
        ul.Sponsors.Sponsors--other
            +sponsorGridImage("/assets/img/2022/sponsors/home-luxury-realestate.png", "Home Luxury Real Estate", "http://tachacostner.homegeorgia.com/")
            +sponsorGridImage("/assets/img/2022/sponsors/distinctive-appliances.jpg", "Distinctive Appliances", "https://distinctiveappliancesatlanta.com/")
            +sponsorGridImage("/assets/img/2021/sponsors/leigh-hays.png", "Leigh Hays, Realtor", "https://leighhays.atlantafinehomes.com")
            +sponsorGridImage("/assets/img/2021/sponsors/overeducated-painters.png", "Overeducated Painters", "http://www.overeducatedpainters.com/")
            +sponsorGridImage("/assets/img/2022/sponsors/ipcp.jpg", "Inman Park Co-op Preschool (Friends of IPCP)", "https://www.ipcp.org/")    
            +sponsorGridImage("/assets/img/2018/sponsors/silver/king-of-pops.png", "King of Pops Logo", "https://kingofpops.com/")    
            +sponsorGridImage("/assets/img/2022/sponsors/cabo.jpg", "CaBo Family Fund")
            +sponsorGridImage("/assets/img/2022/sponsors/doordash.png", "DoorDash", "https://www.doordash.com/")
