.Note
    display: block
    font-size: 0.9375em
    font-style: italic
    color: #444


.PlaceholderImage
    min-height: 100px
    margin: 1em 0
    padding: 2em
    background: #eee
    text-align: center
    text-style: italic
    color: #999


.Todo
    color: magenta
    font-style: italic


.Button
    padding: 1.5em
    // min-width: 13em
    font-family: $base-font-family-sans-serif
    background-color: $brand-white !important // b/c of PromotionItem styling
    color: $brand-grey-dark
    border: 1px solid $brand-white
    text-decoration: none
    text-transform: uppercase
    letter-spacing: 1px

    &:hover, &:focus, &.is-selected
        background-color: $brand-white
        color: $brand-black !important // b/c of PromotionItem styling
        border: 1px solid $brand-grey-dark

    &.alt-primary
        background-color: $brand-green !important
        color: $brand-black

.Big
    font-size: 1.2em
    font-weight: bold


.fineprint
    letter-spacing: 0

.image--big-house
    background-image: url(/assets/img/fpo/big-house.jpg)
    background-size: cover
    background-position: center center

.image--art-2017
    background-image: url(/assets/img/2017/home-art-banner.jpg)
    background-size: cover
    background-position: center center

.image--iris-2018
    background-image: url(/assets/img/2018/iris.jpg)
    background-size: cover
    background-position: center

.image--art-2018
    background-image: url(/assets/img/2018/home-art-banner.png)
    background-size: cover
    background-position: center center
    border: 1px solid #ddd

.image--art-2019
    background-image: url(/assets/img/2019/2019-art-banner.jpg)
    background-size: cover
    background-position: top center
    border: 1px solid #ddd

.image--art-submission
    background-image: url(/assets/img/2020/art-submission-promo-bg.jpg)
    background-size: cover
    background-position: top center

.image--parade
    background-image: url(/assets/img/2019/hero-gnome-parade-768.jpg)
    background-sive: cover
    background-position: center

.image--merch-2020
    background-image: url(/assets/img/2020/merch-bg.jpg)
    background-size: cover
    background-position: center center

//
// tiny slider
//

.tns-outer
    position: relative

.tns-nav
    width: 100%
    text-align: center

    button
        margin: 0 0.4em
        padding: 0
        width: 1em
        height: 1em
        border: 2px solid transparent
        border-radius: 50%
        background: #ccc

        &:focus
            outline: 0
            border-color: #777

        &.tns-nav-active
            background-color: $brand-green

        @media(min-width: $bp-md)
            margin: 0 0.6em
            width: 1.25em
            height: 1.25em
