.Note 
    display: block
    font-size: 0.9375em
    font-style: italic
    color: #444


.PlaceholderImage 
    min-height: 100px
    margin: 1em 0
    padding: 2em
    background: #eee
    text-align: center
    text-style: italic
    color: #999


.Todo 
    color: magenta
    font-style: italic


.Button 
    padding: 1.5em
    min-width: 13em
    background-color: $brand-white !important // b/c of PromotionItem styling
    color: $brand-grey-dark
    border: 1px solid $brand-white
    text-decoration: none
    text-transform: uppercase
    letter-spacing: 1px

    &:hover, &:focus, &.is-selected 
        background-color: $brand-white
        color: $brand-black !important // b/c of PromotionItem styling
        border: 1px solid $brand-grey-dark


.Big 
    font-size: 1.2em
    font-weight: bold


.fineprint
    letter-spacing: 0

