extends ../_templates/layout

block title
    title #{globals.ipf.title} | Celebrate UNFestival in 2020

block contents

    include ../_includes/_banner

    article.u-container

        p We are so sad that we will not have Festival this year, but we've come up with some ideas to help keep the spirit of Festival and Inman Park alive! Please follow all government regulations, and let's show our spirit on Festival weekend, April 24-26!

        p This year, we're calling it 2020 Inman Park UNFestival & Tour AT Home.

        p Here are the fun, and safe, activities we came up with to show our neighborhood pride:

        ul
            li 
                | Color butterflies and hang them in your windows
                | 
                a(href="#artwork") see below for artwork
            li Fly your butterfly banners and flags
            li Use chalk to decorate sidewalks with butterflies, positive messages, and obstacle courses (hopscotch diagram, wavy lines for walking funny, skinny lines for walking heel to toe in a straight line, start and finish lines for short runs)
            li Decorate your car for an UNparade - have it decorated by 2pm Saturday 4/25 for the UNparade start. To be clear - we are not having an actual parade. This would be for people to enjoy as they're strolling around the neighborhood.
            li Last, but definitely not least! On 2 p.m., Saturday 4/25, we invite you to join us on your porch to make the loudest hoot & hollering you can make! Just like we've been doing for healthcare professionals in the evenings, let's show support for our neighborhood as well! Bang on pots & pans, yell, cheer, clap, celebrate!
            li Coming Soon - UNfestival t-shirts and posters will soon be available for online purchase. Make sure to follow the Inman Park Festival Facebook page for further instructions.

        p If you have any questions, please contact festival@inmanparkfestival.org.

        p(id="artwork") Maintain the 6' rule, stay safe and wash your hands!

        p Download these butterfly art files below, color them in and hang them in your windows or wherever you like:

        ul
            li 
                a(href="/assets/static/archive/2020/coloring/ButterflyA.pdf") Butterfly A
            li 
                a(href="/assets/static/archive/2020/coloring/Butterweb.pdf") Butterweb
            li 
                a(href="/assets/static/archive/2020/coloring/Hippidippy.pdf") Hippidippy
            li
                a(href="/assets/static/archive/2020/coloring/Monarchy.pdf") Monarchy
            li 
                a(href="/assets/static/archive/2020/coloring/Nouveau.pdf") Nouveau
            li 
                a(href="/assets/static/archive/2020/coloring/Pedals.pdf") Pedals
