include ../../_templates/mixins

doctype html
html(lang="en")

    head

        title Inman Park Tour of Gardens April 23-25, 2021 - Frequently Asked Questions
        
        meta(content="IE=edge,chrome=1" http-equiv="X-UA-Compatible")
        meta(content="width=device-width" name="viewport")

        link(href='https://fonts.googleapis.com/css?family=Droid+Sans+Mono' rel='stylesheet' type='text/css')
        link(href='/assets/css/main.css', rel='stylesheet' type='text/css')
        //- link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.1/tiny-slider.css")

        meta(property="og:title" content="Inman Park Tour of Gardens April 23-25, 2021 - Frequently Asked Questions")
        meta(property="og:description" content="Inman Park Tour of Gardens April 23-25, 2021")
        meta(property="og:image" content="http://inmanparkfestival.org/assets/img/ipf-butterfly-facebook.png")
        meta(property="og:url" content="http://inmanparkfestival.org")
        meta(property="og:type" content="website")
        meta(name="twitter:card" content="summary_large_image")

    body

        .GardenToursContainer
            include ../_gardensheader

            main.GardenTours

                .GardenSection
                    h1 Frequently Asked Questions

                    dl.FaqList
                        dt Why is the Inman Park Spring Festival and Tour of Homes not being held in its usual format this year? 
                        dd Since last spring, the City of Atlanta has had a moratorium on issuing permits for large gatherings and most special events. As a result, we were unable to proceed with plans to hold either the 2020 or 2021 Inman Park Spring Festival and Tour of Homes in the same way we have done for nearly 50 years. And while the City of Atlanta recently lifted its moratorium on permitting for outdoor events of fewer than 2,000 people occurring after May 15, an event the size and scope of Inman Park Festival is not yet allowed. 

                        dt What is the 2021 Inman Park Tour of Gardens? 
                        dd 
                            p It&rsquo;s a self-guided walking tour of 11 of the most exquisite and charming gardens in the Historic Inman Park neighborhood. Some gardens also will feature special artist or musical experiences. 
                            p In an effort to recognize the traditional Festival weekend, the Festival Committee created the Tour of Gardens as a safe yet fun way for neighbors and visitors to celebrate and enjoy the beauty of Spring in Inman Park. It features many of the very elements that make Inman Park Festival a must-do event for so many people every year, just on a smaller scale. 


                        dt What precautions or restrictions are in place for the pandemic? Are masks required? 
                        dd 
                            p We remain committed to the safety of our neighbors and visitors.  
                            p Masks are required for all Tour of Gardens activities including while visiting each of the gardens; attendance inside each garden will be monitored and limited to allow for social distancing. Hand sanitizer and masks will be available at each garden. 

                        dt When is the 2021 Inman Park Tour of Gardens? 
                        dd 
                            p The Tour of Gardens will be held on April 23-25. The hours are:

                            table
                                tr
                                    td Friday, April 23
                                    td 4 pm &ndash; 8 pm
                                tr
                                    td Saturday, April 24
                                    td 12 pm &ndash; 4 pm 
                                tr 
                                    td Sunday, April 25
                                    td 12 pm &ndash; 4 pm 

                        dt Where can I buy tickets for the Tour of Gardens? 
                        dd You can <a href="/gardens#tickets">buy tickets for the Tour of Gardens here</a>. Tickets are only available online. Once onsite at the Trolley Barn on Edgewood Avenue, you will claim a Tour of Gardens wristband that allows entry into each of the Gardens for the specified day.

                        dt Is my ticket good for all three days of the Tour of Gardens? 
                        dd No, each day of the tour is ticketed separately in order to allow as many people as possible to experience the 2021 Inman Park Tour of Gardens. To ensure we can maintain a safe and socially distanced environment in each garden, the number of tickets available each day is limited.

                        dt Do children need a ticket to tour the gardens?
                        dd Children under 10 years old do not need a tour ticket.

                        dt Where does the Inman Park Tour of Gardens begin? 
                        dd Your first stop will be The Trolley Barn, 963 Edgewood Avenue NE, to claim your Tour of Gardens wristband, which gains you entry into each garden for the day of your ticket. 

                        dt What else is happening during the Tour of Gardens? 
                        dd 
                            p Some of the gardens will feature an artist experience, such as live music or plein air painting. 
                            p 
                                | Additionally, artists and entertainers will be exhibiting or performing on the porches of Inman Park residents along the Tour of Gardens self-guided walking route. View the list of participating 
                                a(href="/gardens/map") artists here
                                | 
                                | and
                                | 
                                a(href="/gardens/music") musicians here.
                            p While everyone is invited to enjoy the entertainment and peruse the artists&rsquo; wares, only ticketholders may enter the gardens on tour. Masks are required on participating porches and committee volunteers will be on-site to ensure safety and social distancing. 

                        dt How do I get to Inman Park? Is parking available? 
                        dd Parking is free and open to the public but is usually very limited on neighborhood streets (there are no special or designated lots for the Tour of Gardens).  We strongly encourage folks to walk, bike, carpool or take public transit to save parking for those who really need it.

                        dt Can I drive from one garden to another? 
                        dd While we&rsquo;ve designed the tour as a walking tour, the streets of the neighborhood will remain open, and it will be permissible to drive between the gardens on tour. However, parking at each stop along the tour is extremely limited. 

                        dt Will there be food and beverages available for purchase? 
                        dd 
                            | The following food trucks will be located at the Trolley Barn and have food and non-alcoholic beverages available for purchase: 
                            |
                            a(href="https://www.henrisbakery.com/food-truck" target="_blank") Henri&rsquo;s.
                            | 
                            | Alcoholic beverages will not be available for purchase. King of Pops will have 3 carts along the self-guided walking tour route.

                        dt Will there be entertainment? 
                        dd 
                            p Yes, there will be live entertainment on select resident porches along the Tour of Gardens walking route. 
                            p The Inman Park Dance Festival will be held in front of the Lizzie Chapel Flats Condominium, 850 Euclid Avenue, on Saturday and Sunday at 1pm and 3pm. All entertainment is free and open to the public. Committee volunteers will be onsite to ensure safety and social distancing.

                        dt What is plein air painting and where will it take place? 
                        dd 
                            p Plein air painting is the act of painting outdoors.  We are very pleased to welcome a group of award-winning artists to the garden of Stephanie Blank and David Williams, 167 Elizabeth Street.
                            p The painters and schedule are as follows:
                            
                            table
                                tr
                                    td Friday 23rd, 4pm - 8pm
                                    td Kathy Rennell Forbes
                                    td watercolor
                                tr
                                    td &nbsp;
                                    td Anne and Larry Hall
                                    td oils
                                tr
                                    td Saturday 24th, 12pm &ndash; 4pm
                                    td Lynda Ellis
                                    td oils
                                tr
                                    td &nbsp;
                                    td Patty Grewe Mullins
                                    td oils
                                tr
                                    td Sunday 25th, 12pm - 4pm
                                    td Deanna Jaugstetter
                                    td oils or acrylic
                                tr
                                    td &nbsp;
                                    td Pat Hahn
                                    td watercolor

                        dt Is there a charge to visit artists on porches?
                        dd No. All artists on porches or in driveways are open to the public. Please support our local artists as they have been very hard hit by the pandemic.

                        dt Are all of the gardens included in the Tour of Gardens ADA accessible?
                        dd Unfortunately, no, not all of the gardens are ADA accessible.

                        dt Are there volunteer opportunities with the Tour of Gardens? 
                        dd Yes, just as with Inman Park Festival, the Tour of Gardens would not be possible without many volunteers. If you are interested in volunteering to help with the Tour of Gardens, sign up here. 

                        dt Is there Inman Park Tour of Gardens merchandise available for sale?
                        dd 
                            | Yes, we wouldn&rsquo;t miss an opportunity to mark the occasion with some great swag. 
                            |
                            a(href="https://inmanparkfestival.company.site/") Check it out here.
                            |
                            | All merchandise is available on pre-order only and must be picked up onsite at the Trolley Barn during Tour of Gardens hours.

                        dt Are dogs allowed at the Tour of Gardens?
                        dd Dogs are not permitted in any garden or on any artist porch. Leashed dogs are permitted on public property like sidewalks.

                        dt More questions? 
                        dd 
                            | Engage with us on our socials:
                            a(href="https://www.instagram.com/inmanparkfest") @InmanParkFest on Instagram
                            | ; 
                            a(href="https://www.facebook.com/InmanParkFestival/") Inman Park Festival on Facebook
                            | ;
                            a(href="http://twitter.com/InmanParkFest") @InmanParkFest on Twitter
