include ../../_templates/mixins

doctype html
html(lang="en")

    head

        title Inman Park Tour of Gardens April 23-25, 2021 - Sponsors
        
        meta(content="IE=edge,chrome=1" http-equiv="X-UA-Compatible")
        meta(content="width=device-width" name="viewport")

        link(href='https://fonts.googleapis.com/css?family=Droid+Sans+Mono' rel='stylesheet' type='text/css')
        link(href='/assets/css/main.css', rel='stylesheet' type='text/css')
        //- link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.1/tiny-slider.css")

        meta(property="og:title" content="Inman Park Tour of Gardens April 23-25, 2021")
        meta(property="og:description" content="Inman Park Tour of Gardens April 23-25, 2021")
        meta(property="og:image" content="http://inmanparkfestival.org/assets/img/ipf-butterfly-facebook.png")
        meta(property="og:url" content="http://inmanparkfestival.org")
        meta(property="og:type" content="website")
        meta(name="twitter:card" content="summary_large_image")

    body

        .GardenToursContainer
            .GardenToursHeaderContainer
                header.GardenToursHeader
                    h1
                        img(src="/assets/img/2021/garden-tour-logo-inverse.png" alt="Inman Park Tour of Gardens 2021" width="210")
                        span April 23-25, 2021

            main.GardenTours

                h1.GardenSponsors-title Tour of Gardens Sponsors

                .GardenSection.GardenSponsors-annualPlus
                    h2.SponsorsHeader.SponsorsHeader--silver Annual Plus Sponsors
                    ul.Sponsors.Sponsors--silver
                        +sponsorGridImage("/assets/img/2021/sponsors/chadsells.png", "Chad Polazzo Remax Realtor", "https://www.chadsells.com/")

                .GardenSection.GardenSponsors-annual
                    h2.SponsorsHeader.SponsorsHeader--bronze Annual Sponsors
                    ul.Sponsors.Sponsors--bronze
                        +sponsorGridImage("/assets/img/2021/sponsors/overeducated-painters.png", "Overeducated Painters", "http://overeducatedpainters.net/")
                        +sponsorGridImage("/assets/img/2021/sponsors/iq-apartments.png", "Inman Quarter Apartments", "https://www.inmanquarter.com/")
                        +sponsorGridImage("/assets/img/2021/sponsors/adam-stillman.png", "Adam Stillman", "http://adamstillman.net/501/index.html")
                        +sponsorGridImage("/assets/img/2021/sponsors/ip-marble.png", "Inman Park Marble", "http://inmanparkmarble.com/")
                        +sponsorGridImage("/assets/img/2021/sponsors/hire-a-helper.png", "HireAHelper", "https://www.hireahelper.com/")
                        +sponsorGridImage("/assets/img/2021/sponsors/atlanta-fine-homes.png", "Atlanta Fine Homes", "https://hollyneil.atlantafinehomes.com/eng")

