extends ../_templates/layout

block pageVars
    - var selectedNav = 'getting here'

block title
    title #{globals.ipf.title} | Map

block contents
    
    include ../_includes/_banner
        

    article.u-container

        h1 Getting to the Inman Park Festival
        
        p As those of you who visit our neighborhood regularly know, parking in Inman Park is becoming a bit more difficult. We strongly encourage you to avoid parking in Inman Park or in the adjacent neighborhoods. Please consider using any of the following options instead of driving directly here:
        
        ul
            li Walk/bike the beltline if you can - it's really the best way to get here 
            li Marta to the Inman Park/Reynoldstown Station
            li Drive to a Marta station near Inman Park (Edgewood/Candler Park, East Lake) and then take Marta just 1 or 2 stops to our station
            li Lyft/Uber/Taxi
            li Bird/Lime/Jump/Lyft Scooter (see the charging locations in purple on the map below)
            
        //- h2 Scooters
        //- 
        //- p Please note that scooters are not allowed within the festival footprint.
        //- 
        //- p There are three drop-off locations for scooters and each location will have charging stations to help ensure there are charged scooters ready for you when you are ready to leave the festival. These locations are:
        //- 
        //- ul
        //-     li Near the intersection of Alta and Euclid
        //-     li Near the intersection of Waverly and Elizabeth

        h2 Bike

        p Free and secure valet bike parking will be provided by the Atlanta Bicycle Coalition in the following locations:

        ul
            li the intersection of Alta Avenue and Euclid Avenue
            li the intersection of Waverly Way and Elizabeth Stree
            li on Edgewood Avenue between Waddell and Krog Streets
        
        h2 Festival Map with Free Shuttle Route and Bike Parking

        //- <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1xhnIWgf6rrrt4iT7z5GT9iVP3hU" width="100%" height="400"></iframe>
        a(href="/assets/img/2022/2022-festival-map.pdf")
            img(src="/assets/img/2022/2022-festival-map.png" alt="2022 Festival Map").u-imgwidth

        p Click the above map to view a larger PDF version.

        //- p
        //-     a(href="https://drive.google.com/open?id=1xhnIWgf6rrrt4iT7z5GT9iVP3hU&usp=sharing") View this full map (contains bus route, tour of homes, stages and other important locations)
        
