div.Banner.Banner--corona
    p Our top priority is the safety and health of our patrons, artists, guests, staff, vendors and community. Therefore, due to COVID-19 concerns, Inman Park Spring Festival &amp; Tour of Homes, scheduled to take place April 24-26, 2020 will be postponed or cancelled. We are evaluating if a rescheduled event is possible or if we will see you next April, 2021. We will announce more information in the next few weeks. We encourage all to adhere to the CDC guidelines to prevent the spread of COVID-19.

    //- p
    //-     a(href="/coronavirus") What is Inman Park Festival doing about the COVID-19 Coronavirus?

