div.Banner.Banner--corona
    p Inman Park Spring Festival &amp; Tour of Homes 2020 will proceed as planned on April 24, 25, &amp; 26, 2020. Only if we are advised by a government agency (Dept. of Public Safety, Public Health, CDC, etc.) to cancel our event will we cancel. We hope to see you in April!
