div.Banner.Banner--corona
    p Inman Park Festival is actively monitoring the situation with respect to the COVID-19 Coronavirus, and will communicate to the community in the event that the CDC or other public health authorities issue any specific recommendations or restrictions that would impact our event. Festival is scheduled to begin 6 weeks from today.  Given that amount of time and the information we have available now, we are not cancelling Festival as the virus and its effects could well have cycled through by then.
    p
        a(href="/coronavirus") What is Inman Park Festival doing about the COVID-19 Coronavirus?

