div.Banner.Banner--dates
    p Due to COVID-19 concerns, Inman Park Spring Festival &amp; Tour of Homes, scheduled to take place April 24-26, 2020 will be postponed or cancelled. 
    //- div #{globals.ipf.date.year} Tour of Homes Preview: Friday #{globals.ipf.date.friday.date}
    //- div Festival: Saturday #{globals.ipf.date.saturday.date} &amp; Sunday #{globals.ipf.date.sunday.date}
