section
    h3 Follow Festival Online
    nav.SocialIcons
        a(href="https://www.facebook.com/InmanParkFestival/" target="_blank") 
            span.icon
                img(src="/assets/img/sprites/facebook.svg" alt="Facebook")
                span.u-visuallyhidden Facebook
        a(href="http://twitter.com/InmanParkFest" target="_blank") 
            span.icon
                img(src="/assets/img/sprites/twitter.svg" alt="Twitter")
                span.u-visuallyhidden Twitter: @inmanparkfest
        a(href="https://www.instagram.com/inmanparkfest" target="_blank")
            span.icon
                img(src="/assets/img/sprites/instagram.svg" alt="Instagram")
                span.u-visuallyhidden Instagram: @inmanparkfest
