extends ../../_templates/layout

block title
    title #{globals.ipf.title} Yearly Art - 2017 - Ming Phan

block contents

    article.u-container

        h1 Inman Park Festival Yearly Art - 2017

        p This year's artist is Ming Phan. Click/touch the thumbnail below to see a larger version.
        
        a(href="/assets/img/2017/art/festival-art-2017-ming-phan.jpg")
            img(src="/assets/img/2017/art/festival-art-2017-ming-phan-small.jpg")

        h2 Interview with Ming Phan
        
        dl.Questionnaire
            dt Where are you from, originally?
            dd Saigon, Vietnam

            dt Where do you currently live, and how long have you been in the Atlanta area?
            dd I currently live in Atlanta and I have been living here for about 12 years.

            dt What motivated you to enter the 46th Annual Inman Park Design Contest?
            dd I was inspired by all the artworks that are along the Beltline and within Inman Park neighborhood. I always wanted to do something similar. Since I’m currently a graphic designer and my friends keep encouraging me to showcase my art more publicly, so I enter this design contest and test my luck.

            dt How did you acquire your design talents?
            dd As long as I can remember, ever since I was a little kid, I’ve always read comic books and tried to sketch my favorite characters, it was a passion of mine. It wasn’t until I got accepted into Graphic Design program in college that I started to advance my skills.

            dt What was your creative inspiration for this design?
            dd Inman Park neighborhood undergoes decades of restoration and renewal to become the iconic figure it is now. I utilized butterflies in the background as a symbol of rebirth for the neighborhood. I first stumbled around Inman Park when I was biking on the Beltline, so I use the bicycle as my discovery of this place.  

            dt What is your favorite thing about the Inman Park Festival & Tour Of Homes?
            dd I love festivals because the community coming together, parade, and celebrate the history and growth of the neighborhood. Visitors near and far gets to explore and learn more about the area and what it means to the local. I love that you can find different unique things from other people with same interests.

            dt How do you enjoy spending your free time?
            dd I love to hike and explore different areas. It broadens my horizon and I get to know and learn about the histories of different places.

            dt Tell us at least one fun fact about you:
            dd I have a never ending love for food!! 
