extends ../../_templates/layout

block title
    title #{globals.ipf.title} | Events | Kids' Zone

block contents

    +secondaryNav(globals.events.nav, "kids' zone")

    include ../../_includes/_banner
    
    +presentingSponsor("/assets/img/2018/sponsors/presenting/king-of-pops.png", "King of Pops")

    .u-container
    
        h1 Inman Park&rsquo;s Own King of Pops Little Gnome Zone
    
    .Hero
        .carousel
            //- TODO kidzone slideshow uses responsive images
            div
                +slideImage('/assets/img/slideshows/2018/kidzone-face-paint')
            div
                +slideImage('/assets/img/slideshows/2018/kidzone-sphere')
            div
                +slideImage('/assets/img/slideshows/2018/kidzone-acrobats')
            div
                +slideImage('/assets/img/slideshows/2018/kidzone-dog-dance')
            div
                +slideImage('/assets/img/slideshows/2018/kidzone-red-dots')
    
    article.u-container
    
        p This year&rsquo;s Little Gnome Zone, presented by Inman Park&rsquo;s own King of Pops, is designed especially for the youngest Inman Park Festival goers. Against the stunning backdrop of Springvale Park, the Poptastic area will include fun activities and entertainment for kids of all ages and a variety of food, drink, and popsicle options for purchase. There will be giant inflatables, performing pets, face painting and a preschool area for our littlest attendees. 

        p The fun kicks off with dance time presented by Ecstatic Dance Atlanta for the whole family in the park at 11:30 am. Throughout the day, the WRFG 89.3FM Butterfly Tales Sound Stage will include a dog show by Panfilov&rsquo;s Performing Pets, eco-educational party rock by The Rock Garden, a performance by Atlanta Irish Dance Group, and a puppet show by Inman Park resident Miss Emerelda from Fairyland. The Circus Camp will offer sky high performances by its talented youth aerialists and jugglers. Inman Park Cooperative Preschool will have a craft tent and a comfortable lactation zone. 
 
        p 
            | 2020 marks the first annual King of Tots Baby Race, where babies of crawling age will be competing for a year of King of Pops popcicles. 
            a(href="https://forms.gle/Up7weVfL1c7iARyq9" target="_blank") Sign up here to reserve a space in the race.

        p 
            | The Little Gnome Zone is located in Springvale Park, off Elizabeth Street and Waverly Way, behind the main music tent. 
            = ' '
            a(href="https://www.google.com/maps/place/Springvale+Park/@33.757609,-84.3595155,17z/data=!3m1!4b1!4m5!3m4!1s0x88f504009b29b45f:0xe3d98edfcfc1ac1e!8m2!3d33.7576046!4d-84.3573268" target="_blank") [map it]
        

        h2 Little Gnome Zone Schedule
        
        p Events for Saturday #{globals.ipf.date.saturday.date}:
        
        ul
            li 11:00 Family Ecstatic Dance
            li 12:00 Storytelling
            li 1:00 Circus Camp&rsquo;s Aerial Performance
            li 1:30 Paniflov&rsquo;s Performing Pets
            li 2:00 Festival Parade
            li 3:30 Paniflov&rsquo;s Performing Pets
            li 4:00 Circus Camp&rsquo;s Aerial Performance
            li 5:00 The Rock Garden Eco-Concert

        
        p Events for Sunday #{globals.ipf.date.sunday.date}:
        
        ul
            li 11:00 2020 King of Tots Baby Crawl Race
            li 12:00 Paniflov&rsquo;s Performing Pets
            li 12:30 Atlanta Irish Dance Performance
            li 2:00 Paniflov&rsquo;s Performing Pets
            li 3:00 Queen Emerelda from Fairyland
            li 4:00 The Rock Garden Eco-Concert


