include ../../_templates/mixins

doctype html
html(lang="en")

    head

        title Inman Park Tour of Gardens April 23-25, 2021 - Map
        
        meta(content="IE=edge,chrome=1" http-equiv="X-UA-Compatible")
        meta(content="width=device-width" name="viewport")

        link(href='https://fonts.googleapis.com/css?family=Droid+Sans+Mono' rel='stylesheet' type='text/css')
        link(href='/assets/css/main.css', rel='stylesheet' type='text/css')
        //- link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.1/tiny-slider.css")

        meta(property="og:title" content="Inman Park Tour of Gardens April 23-25, 2021")
        meta(property="og:description" content="Inman Park Tour of Gardens April 23-25, 2021")
        meta(property="og:image" content="http://inmanparkfestival.org/assets/img/ipf-butterfly-facebook.png")
        meta(property="og:url" content="http://inmanparkfestival.org")
        meta(property="og:type" content="website")
        meta(name="twitter:card" content="summary_large_image")

    body

        .GardenToursContainer
            include ../_gardensheader

            main.GardenTours

                h1.GardenSponsors-title Tour of Gardens Map &amp; Artists

                .GardenSection.GardensMap
                    a(href="/assets/img/2021/gardens-map.png")
                        img(src="/assets/img/2021/gardens-map-small.png" alt="Map of Homes on Tour and Artists")

                .GardenSection.GardensVendors
                    h2 Artists on Tour

                    .GardenVendor
                        .GardenVendor-name
                            a(href="http://www.Jimzhangart.com" target="_blank") Jim Zhang
                        .GardenVendor-location
                            span.GardenVendor-address 226 Elizabeth Street
                            span.GardenVendor-map Map Location: A

                    .GardenVendor
                        .GardenVendor-name
                            a(href="http://www.omgrownart.com" target="_blank") Jenny Lee Aiken - OM Grown Art
                        .GardenVendor-location
                            span.GardenVendor-address 196 Waverly Way
                            span.GardenVendor-map Map Location: 3

                    .GardenVendor
                        .GardenVendor-name
                            a(href="http://www.taguhiart.com" target="_blank") Taguhi Erzrumyan
                        .GardenVendor-location
                            span.GardenVendor-address 196 Waverly Way
                            span.GardenVendor-map Map Location: 3

                    .GardenVendor
                        .GardenVendor-name
                            a(href="http://www.pollythepotter.com" target="_blank") Polly Sherrill - Polly on the Avenue
                        .GardenVendor-location
                            span.GardenVendor-address 222 Hurt Street
                            span.GardenVendor-map Map Location: B

                    .GardenVendor
                        .GardenVendor-name
                            a(href="http://www.etsy.com/shop/IngaandEvija" target="_blank") Evija Fairo - 100% Cool Efi Designs
                        .GardenVendor-location
                            span.GardenVendor-address 215 Hurt Street
                            span.GardenVendor-map Map Location: C

                    .GardenVendor
                        .GardenVendor-name
                            a(href="http://www.sunavworld.com" target="_blank") Sushma Barakoti - Sunavworld
                        .GardenVendor-location
                            span.GardenVendor-address 210 Hurt Street
                            span.GardenVendor-map Map Location: D

                    .GardenVendor
                        .GardenVendor-name
                            a(href="http://www.katherine-smith-jewelry.myshopify.com" target="_blank") Katherine Smith - Katherine Smith Jewelry
                        .GardenVendor-location
                            span.GardenVendor-address 207 Hurt Street
                            span.GardenVendor-map Map Location: E

                    .GardenVendor
                        .GardenVendor-name
                            a(href="http://www.thymetogarnish.com" target="_blank") Becky Battle - Thyme to Garnish
                        .GardenVendor-location
                            span.GardenVendor-address 206 Hurt Street
                            span.GardenVendor-map Map Location: 4

                    .GardenVendor
                        .GardenVendor-name
                            span Nelms Creekmur
                        .GardenVendor-location
                            span.GardenVendor-address 188 Elizabeth Street
                            span.GardenVendor-map Map Location: F

                    .GardenVendor
                        .GardenVendor-name
                            a(href="http://www.abehomegoods.com" target="_blank") Mallory Brooks - Abe Home Goods
                        .GardenVendor-location
                            span.GardenVendor-address 189 Elizabeth Street
                            span.GardenVendor-map Map Location: G

                    .GardenVendor
                        .GardenVendor-name
                            span Ellen McManus
                        .GardenVendor-location
                            span.GardenVendor-address 177 Elizabeth Street
                            span.GardenVendor-map Map Location: H

                    .GardenVendor
                        .GardenVendor-name
                            span Katie Aldrich
                        .GardenVendor-location
                            span.GardenVendor-address 176 Elizabeth Street
                            span.GardenVendor-map Map Location: I

                    .GardenVendor
                        .GardenVendor-name
                            a(href="http://www.instagram.com/pinkribbonatlanta" target="_blank") Judy May - YIP and More
                        .GardenVendor-location
                            span.GardenVendor-address 116 Elizabeth Street
                            span.GardenVendor-map Map Location: J

                    .GardenVendor
                        .GardenVendor-name
                            a(href="http://www.henleystudios.com" target="_blank") Jenny Henley - Henley Studios
                        .GardenVendor-location
                            span.GardenVendor-address 963 Edgewood Avenue
                            span.GardenVendor-map Map Location: 7

                    .GardenVendor
                        .GardenVendor-name
                            a(href="http://www.facebook.com/johnw.fesken" target="_blank") John Fesken
                        .GardenVendor-location
                            span.GardenVendor-address 973 Edgewood Avenue
                            span.GardenVendor-map Map Location: K

                    .GardenVendor
                        .GardenVendor-name
                            a(href="http://www.georgiafiresteel.com" target="_blank") David Bailey - ECHO Fabrication
                        .GardenVendor-location
                            span.GardenVendor-address 908 Edgewood Avenue
                            span.GardenVendor-map Map Location: L

                    .GardenVendor
                        .GardenVendor-name
                            a(href="http://www.kaboodleatlanta.com" target="_blank") Michael Knight - Kaboodle Home
                        .GardenVendor-location
                            span.GardenVendor-address 889 Edgewood Avenue
                            span.GardenVendor-map Map Location: M

                    .GardenVendor
                        .GardenVendor-name
                            a(href="http://www.caragilbert.com" target="_blank") Cara Gilbert - Cara Gilbert Ceramics
                        .GardenVendor-location
                            span.GardenVendor-address 47 Delta Place
                            span.GardenVendor-map Map Location: N

                    .GardenVendor
                        .GardenVendor-name
                            a(href="http://www.stephanieleighjewelry.com" target="_blank") Stephanie Neff - Stephanie Leigh Jewelry
                        .GardenVendor-location
                            span.GardenVendor-address 866 Euclid Avenue
                            span.GardenVendor-map Map Location: O

                    .GardenVendor
                        .GardenVendor-name
                            span Emily Severtson – Glasstacular
                        .GardenVendor-location
                            span.GardenVendor-address 860 Euclid Avenue
                            span.GardenVendor-map Map Location: P

                    .GardenVendor
                        .GardenVendor-name
                            span Matt Terrell
                        .GardenVendor-location
                            span.GardenVendor-address 846 Euclid Avenue
                            span.GardenVendor-map Map Location: Q

                    .GardenVendor
                        .GardenVendor-name
                            a(href="http://www.honeynextdoor.com" target="_blank") Brandon Tai - Honey Next Door
                        .GardenVendor-location
                            span.GardenVendor-address 836 Euclid Avenue
                            span.GardenVendor-map Map Location: R

                    .GardenVendor
                        .GardenVendor-name
                            a(href="http://www.bluepiranhajewelry.com" target="_blank") Jill Sharp - Blue Piranha
                        .GardenVendor-location
                            span.GardenVendor-address 62 Spruce Avenue
                            span.GardenVendor-map Map Location: S

                    .GardenVendor
                        .GardenVendor-name
                            span Kristen Yates
                        .GardenVendor-location
                            span.GardenVendor-address 75 Spruce Street
                            span.GardenVendor-map Map Location: T

                    .GardenVendor
                        .GardenVendor-name
                            a(href="http://www.thorsenart.com" target="_blank") Kristin Thorsen - thorsenart
                        .GardenVendor-location
                            span.GardenVendor-address 829 Dixie Avenue
                            span.GardenVendor-map Map Location: U

                    .GardenVendor
                        .GardenVendor-name
                            a(href="http://www.hcwarner.com" target="_blank") Henry Warner - Alcove Fine Art
                        .GardenVendor-location
                            span.GardenVendor-address 840 Dixie Avenue
                            span.GardenVendor-map Map Location: V

                    .GardenVendor
                        .GardenVendor-name
                            a(href="http://www.instagram.com/mymy_butterfly" target="_blank") Beth Watson - MyMy Butterfly
                        .GardenVendor-location
                            span.GardenVendor-address 102 Druid Circle
                            span.GardenVendor-map Map Location: W

                    .GardenVendor
                        .GardenVendor-name
                            span Katie Troisi - Katie Troisi Pottery
                        .GardenVendor-location
                            span.GardenVendor-address 857 Ashland Avenue
                            span.GardenVendor-map Map Location: X

