extends ../../_templates/layout

block title
    title #{globals.ipf.title} | Events | Music

block contents

    +secondaryNav(globals.events.nav, "music")

    include ../../_includes/_banner

    +presentingSponsor("/assets/img/2020/sponsors/silver/raw-banner-logo.png", "RAW Real Estate Group")

    .u-container

        h1 Live Music at the Inman Park Festival
        
        //- p See this space soon for the Festival music lineup.


    .u-container
        select#musicSelector.MusicSelector
            option(value="") Select Day &amp; Stage:
            optgroup(label="Saturday")
                option(value="SaturdayDelta") Delta Park
                option(value="SaturdayEuclid") Euclid Ave
                option(value="SaturdayFreedom") Freedom
            optgroup(label="Sunday")
                option(value="SundayDelta") Delta Park
                option(value="SundayEuclid") Euclid Ave
                option(value="SundayFreedom") Freedom

    ul.MusicDates
        //- Saturday bands by stage
        +musicday("Saturday", music.stages, music.saturday)
    
        //- Sunday bands by stage
        +musicday("Sunday", music.stages, music.sunday)

block scripts
    script(src="/assets/js/music.js")
