include ../../_templates/mixins

doctype html
html(lang="en")

    head

        title Inman Park Tour of Gardens April 23-25, 2021 - List of Gardens on Tour
        
        meta(content="IE=edge,chrome=1" http-equiv="X-UA-Compatible")
        meta(content="width=device-width" name="viewport")

        link(href='https://fonts.googleapis.com/css?family=Droid+Sans+Mono' rel='stylesheet' type='text/css')
        link(href='/assets/css/main.css', rel='stylesheet' type='text/css')
        //- link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.1/tiny-slider.css")

        meta(property="og:title" content="Inman Park Tour of Gardens April 23-25, 2021 - List of Gardens on Tour")
        meta(property="og:description" content="Inman Park Tour of Gardens April 23-25, 2021")
        meta(property="og:image" content="http://inmanparkfestival.org/assets/img/ipf-butterfly-facebook.png")
        meta(property="og:url" content="http://inmanparkfestival.org")
        meta(property="og:type" content="website")
        meta(name="twitter:card" content="summary_large_image")

    body

        .GardenToursContainer
            include ../_gardensheader

            main.GardenTours
                .GardenHero
                    .carousel
                        div
                            img(src='/assets/img/2021/gardens/schroeder-hydrangea.jpg' alt='Oak-leaf Hydrangea in Schroeder Gardens')
                        div
                            img(src='/assets/img/2021/gardens/kousa.jpg' alt='Kousa Dogwood')
                        div
                            img(src='/assets/img/2021/gardens/schroeder-door.jpg' alt='Azaleas near the Door in Schroeder Gardens')
                        div
                            img(src='/assets/img/2021/gardens/cope-2.jpg' alt='Cope Gardens')
                        div
                            img(src='/assets/img/2021/gardens/parrotfeather.jpg' alt="Parrot's Feathers")

                .GardenAuction 
                    a(href="") Bid on unique Inman Park goods in our auction now!
                    
                .GardenSection.bgGarden-secondary.GardenMoreDetails

                    h1 Gardens on Tour

                    p
                        | Please note that 
                        strong no dogs are allowed in the gardens.
                    
                    .GardenOnTour
                        h2
                            | Cathy and Bo Bradshaw
                            span 206 Hurt Street

                        p Brick and granite masonry, designed by master mason Bo and built by him and Cathy soon after he bought this house in 1972, forms the backbone of this garden. One of the privately owned but shared back yards called &ldquo;The Hollow,&rdquo; it features a firepit in winter and water activities in summer and serves as a gathering place for family, friends, and neighbors. The garden continues to evolve in response to such events as grandchildren, ice storms, and falling tree limbs.

                    .GardenOnTour
                        h2
                            | Whitespace Gallery and Gardens
                            br
                            | Susan Bridges
                            span 814 Edgewood Avenue

                        p Decades after moving into her Eastlake Victorian home, Susan converted the carriage house into Whitespace, a gallery featuring contemporary artists; a gritty basement into Whitespec, which has housed many MFA thesis shows; and a caved-in root cellar into Shedspace, which houses art installations. The galleries are knit together by paths that meander through ancient hardwoods, trellised arches, and ferns and perennials. Saints Francis and Fiacre bless the galleries from shingled huts, while a Madonna oversees all from her porcelain tub.

                    .GardenOnTour
                        h2
                            | Meredith and Tim Cope
                            span 197 Hale Street

                        p The Copes have created a lush floral presentation of snapdragons, petunias, phlox, and roses along with dozens of perennial varieties in an environment that encompasses garden, art gallery, and water features. A spouting metal fish ornament arcs a stream into the main koi pond graced by <em>Taming the Toad</em>, a sculpture by Mitch Billis. Meredith&rsquo;s original oil paintings &mdash; abstract and impressionistic water and pond images &mdash; enliven the walls of the garden. 

                    .GardenOnTour
                        h2
                            | Helen and Clark Cunningham
                            span 845 Ashland Avenue

                        p Before the Cunninghams bought this house in 2002, taken with the whimsical spiral staircase connecting outdoor living spaces, the yard sheltered the late artist Christine Sibley&rsquo;s menagerie. Today, Christine&rsquo;s sun-and-moon gates lead to a garden where camellias, wax myrtle, Japanese maple, and river birch add structure to plantings of native and exotic perennials and groundcovers. The Cunninghams also added the garden study on the site of Christine&rsquo;s kiln and the water feature inspired by Ferst Fountain, which Christine designed for the Atlanta Botanical Gardens.

                    .GardenOnTour
                        h2
                            | Tracy Steen and Robert Long
                            span 210 Elizabeth Street

                        p This is a backyard with a history. In the early seventies, &ldquo;The Farm,&rdquo; as it was then called, produced a fine illegal herbaceous crop. The next owners developed it into a lush garden that hosted their daughter&rsquo;s wedding. In 2014, the basic layout was refreshed with additional hardscaping, new steps down to a new patio, and new plantings augmenting existing ones. A persistent feature of this protean garden is its expansive view of the Atlanta skyline.

                    .GardenOnTour
                        h2
                            | Wendy and Bob Patterson
                            span 956 Euclid Avenue

                        p Thirty years ago, this lovely garden was a swept-dirt yard. Built up over decades and refreshed and simplified recently, it stars weeping katsuras, Chinese paper bush (Edgeworthia), and &lsquo;Moonlight&rsquo; climbing hydrangea. Around back you&rsquo;ll find the happy results of a fallen tree: a new stone deck and other landscaping. Surrounding the pool is Bob&rsquo;s prized and time-consuming bonsai collection, which has proliferated from a single birthday present received several years ago.

                    .GardenOnTour
                        h2
                            | Marji McCullough and Dirk Schroeder
                            span 196 Waverly Way

                        p Just past the ribbon of seven-foot standard azaleas, you&rsquo;ll step through a vine-covered arch into a southern-European-inspired courtyard, complete with lion fountain. Take in the lush conifers and bougainvillea as they mingle with Japanese maple and bearded iris. Enjoy a moment of calm in the art-filled &ldquo;memory garden&rdquo; before ducking under the ginkgo towards the lower terraces and a magnolia-framed view of the Atlanta skyline. 


                    .GardenOnTour
                        h2
                            | Debi Starnes &amp; Jim Emshoff
                            span 804 Edgewood Avenue

                        p The multiple spaces around Sugar Magnolia B&B include the front fescue lawn with cobblestone beds of flowering bushes, vegetables, perennials, and annuals. The flagstone walkway leads to a side courtyard with a tropical flair, including several palms, rhododendrons, climbing vines, ground covers, and a fountain. Continue to the back yard shade garden with ferns, hellebores, Solomon seal, and azaleas. Keep an eye out for whimsical touches and lighting throughout.  


                    .GardenOnTour
                        h2
                            | Chuck & Pat Young
                            span 241 Elizabeth Street

                        p An ongoing labor of love for Chuck when he isn&rsquo;t volunteering at the Atlanta Botanical Gardens, the Youngs&rsquo; garden welcomes you to the house, where the front yard and sidewalk planting strip are filled with azaleas, dogwood trees, pink star magnolias, and perennials. The back yard features a large greenspace surrounded by a wide variety of trees and shrubs, both deciduous and evergreen. Ball-shaped hollies lend an air of formality. A 780-gallon tank filled by rainwater from the gutters provides enough to water the entire yard twice. 

                    .GardenOnTour
                        h2 
                            | Stephanie Blank and David Williams
                            span 167 Elizabeth Street

                        p Here at the former home of Inman Park founder Joel Hurt, Stephanie and David have created a garden that blends the house's formal beauty with the neighborhood's informal spirit. Beneath towering oaks and magnolias, native understory trees&mdash;such as dogwoods and hollies&mdash;and classic Southern shrubs lend structure and color to the spacious garden throughout the year. Hydrangeas, boxwood, camellias, azaleas and rhododendron interplanted with hellebores and other perennials border open lawns. Artists will be painting here en plein air during the garden tour.

                    .GardenOnTour 
                        h2 
                            | The Trolley Barn
                            span 963 Edgewood Avenue

                        p This former maintenance depot for the Atlanta & Edgewood Street Railway Company's trolley cars has become a favored Atlanta event space, with graceful landscaping that complements its picturesque Victorian architecture. The gardens, which regularly host weddings and other celebrations, showcase a mixture of shade-loving Southern classics. Among the native trees, shrubs, and perennials that have been introduced recently are American fringe tree, cherry laurel, oakleaf hydrangea, bottlebrush buckeye, Dixie and Southern wood ferns, cinnamon fern, celandine poppy, coral bells, phlox, and trillium. 

                    p
                        a(href="/gardens/").GardensBackLink &lt; Tour of Gardens Home

        script(src="/assets/js/gardens.js")
        block scripts

        if (isProduction)
            script.
                var _gaq = _gaq || [];
                _gaq.push(['_setAccount', 'UA-21675291-1']);
                _gaq.push(['_trackPageview']);

                (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
                })();
